spv2code
*.dat
*.pyc
static/img/*
static/metadata/*
static/uploads/*
spenv/*
config*
wsgi*
*.ini
local.py
.Rdata
.Rhistory
scheduled_scripts/homepage_counts/*.csv
scheduled_scripts/homepage_counts/homepage_counts.sh
static/email_list.csv
