spv2code
*.dat
*.pyc
static/img/*
static/metadata/*
static/uploads/*
static/sitelist.csv
static/sitelist_pseudo_core.csv
spenv/*
config*
wsgi*
*.ini
local.py
.Rdata
.Rhistory
scheduled_scripts/homepage_counts/*.csv
scheduled_scripts/homepage_counts/homepage_counts.sh
static/email_list.csv
*.zip
shiny/strange_model_results
