{% extends "layout.html" %}
{% block body %}

<h2>StreamPULSE Data Policy</h2>

<p>The StreamPULSE data offered on this website are shared to enhance information reuse and scientific discovery. Two data products are available:
<ol>
<li><i>Sensor and manual field observations:</i> these data may not be fully vetted and in many cases are preliminary.</li>
<li><i>Metabolism model output:</i> these data are versioned estimates of metabolism based on field observations and network-recognized models.</li>
</ol>
The data are available under the Open Data Commons Attribution License: <a href="http://opendatacommons.org/licenses/by/1.0">http://opendatacommons.org/licenses/by/1.0</a>.</p>

<p><span class="lead">For users:</span><br>
In summary, you are free:
<ul>
  <li><i>To Share:</i> To copy, distribute and use the database.</li>
  <li><i>To Create:</i> To produce works from the database.</li>
  <li><i>To Adapt:</i> To modify, transform and build upon the database.</li>
</ul>
So long as you:
<ul>
  <li>Attribute: You must attribute any public use of the database, or works produced from the database, in the manner specified in the license. For any use or redistribution of the database, or works produced from it, you must make clear to others the license of the database and keep intact any notices on the original database.</li>
</ul></p>

<!-- <p><i>Citation:</i> The StreamPULSE policy is that all data will be properly cited, with reference to StreamPULSE as well as the data set contributor. [Citation example here, coming soon. Will likely use DOI from Sciencebase or CUAHSI.]</p> -->
<p><i>Citation:</i> Until we acquire a system of DOIs for StreamPULSE datasets, please cite the following paper in association with any use of StreamPULSE data:</p>
<p>Appling, A. P., Hall, R. O., Yackulic, C. B., & Arroita, M. (2018). Overcoming equifinality: Leveraging long time series for stream metabolism estimation. <i>Journal of Geophysical Research: Biogeosciences, 123</i>(2), 624-645.</p>

<p><i>Acknowledgement:</i> If the data contributed significantly to the content of a publication, the user should also acknowledge the StreamPULSE network, the NSF Macrosystems program, and any additional institutional support or funding awards referenced in the metadata. For example:
  <div class="well well-sm col-md-11 col-md-offset-1">Data sets were provided by the StreamPULSE Network, with funding provided by the National Science Foundation Macrosystems program (NSF Grant EF-1442439).</div>
</p>

<p><i>Notification:</i> The data user should notify the data contributor when any derivative work or publication based on or derived from the data set is distributed.
</p>

<p><span class="lead">For contributors:</span><br>
Contributed data will be made available under the above license. By default, data from newly contributed study sites will be embargoed for one year past the date of upload. This means that only the uploading user can download, visualize, or in any way access data or model estimates from such sites for one year. If a user wishes to modify this embargo period, or to permit specific other users to access embargoed data, they may do so by contacting a project representative (e.g. <a href="mailto:vlahm13@gmail@gmail.com">Michael Vlah</a>).
</p>

{% endblock %}
