{% extends "layout.html" %}
{% block body %}

<div class="row"><div class="col-md-8 col-md-offset-2">
  <h1 class='text-center text-primary'>Download StreamPULSE Data</h1>
  <h3 class='text-center text-primary'>(in bulk; datasets updated daily at 12:00 AM EST)</h3>
  <br><br>


  <!-- <form id='metadnld' action="/_grdo_metatemplate_download" method="POST"
    class="form-horizontal">
      <p>Metadata template:</p>
      <button id="metatemplate" type="submit" value=Download class="btn btn-primary">
        Download
      </button>
    </div>
  </form> -->


  <p>
    By downloading or using the datasets below you implicitly agree to the
    <a href="policy">StreamPULSE data policy</a>.
  </p>
  <!-- <div class="form-inline text-left">
    <label>
      <input class="form-control" type="checkbox" name="policy" required>
      I agree to the <a href="policy">StreamPULSE data policy</a> (required).
    </label>
  </div> -->
  <br>
  <br>

  <p>The sensor datasets are split into 1GB CSV files. Here's how to read them efficiently into R:</p>
  <script src="https://gist.github.com/vlahm/b5bfdf6986322f1bbfad3c77501f2d65.js"></script>

  <h3>Get sensor data</h3>
  <div class="form-group">

    <form id='allsp_form' action="/_allsp_download" method="POST" class="form-horizontal">
      <span style="display:inline-block; width:500px">
        All public StreamPULSE data (not including NEON or Powell Center data):
      </span>
      <span style="display:inline-block">
        <button id="allsp" class="btn btn-sm btn-info" style="font-family:mono">
          {% set bulksize = bulk_file_sizes["all_sp_data.zip"]|filesizeformat %}
          {% set spaces = "&nbsp;" * (8 - bulksize|length) %}
          Download {{ spaces|safe }}({{ bulksize }})
        </button>
      </span>
    </form>
    <br>

    <form id='allneon_form' action="/_allneon_download" method="POST" class="form-horizontal">
      <span style="display:inline-block; width:500px">
        All NEON data housed within StreamPULSE:
      </span>
      <span style="display:inline-block">
        <button id="allneon" class="btn btn-sm btn-info" style="font-family:mono">
          {% set bulksize = bulk_file_sizes["all_neon_data.zip"]|filesizeformat %}
          {% set spaces = "&nbsp;" * (8 - bulksize|length) %}
          Download {{ spaces|safe }}({{ bulksize }})
        </button>
      </span>
    </form>
    <br>

    <form id='allpowell_form' action="/_allpowell_download" method="POST" class="form-horizontal">
      <span style="display:inline-block; width:500px">
        All Powell Center metabolism synthesis data housed within StreamPULSE:
      </span>
      <span style="display:inline-block">
        <button id="allpowell" class="btn btn-sm btn-info" style="font-family:mono">
          {% set bulksize = bulk_file_sizes["all_powell_data.zip"]|filesizeformat %}
          {% set spaces = "&nbsp;" * (8 - bulksize|length) %}
          Download {{ spaces|safe }}({{ bulksize }})
        </button>
      </span>
    </form>
    <br>
  </div>

  <div style="display:inline-block">
    <h3>Get grab sample data</h3>
  </div>
  <div style="display:inline-block">
    <p class="text-muted">&nbsp;(manually collected time-series data)</p>
  </div>
  <div class="form-group">
    <form id='allgrab_form' action="/_allgrab_download" method="POST" class="form-horizontal">
      <span style="display:inline-block; width:500px">
        All public grab data:
      </span>
      <span style="display:inline-block">
        <button id="allgrab" class="btn btn-sm btn-info" style="font-family:mono">
          {% set bulksize = bulk_file_sizes["all_grab_data.csv.zip"]|filesizeformat %}
          {% set spaces = "&nbsp;" * (8 - bulksize|length) %}
          Download {{ spaces|safe }}({{ bulksize }})
        </button>
      </span>
    </form>
    <br>
  </div>

  <h3>Get site data</h3>
  <div class="form-group">

    <form id='allbasicsite_form' action="/_allbasicsite_download" method="POST" class="form-horizontal">
      <span style="display:inline-block; width:500px">
        All basic site data:
      </span>
      <span style="display:inline-block">
        <button id="allbasicsite" class="btn btn-sm btn-info" style="font-family:mono">
          {% set bulksize = bulk_file_sizes["all_basic_site_data.csv.zip"]|filesizeformat %}
          {% set spaces = "&nbsp;" * (8 - bulksize|length) %}
          Download {{ spaces|safe }}({{ bulksize }})
        </button>
      </span>
    </form>
    <br>

    <form id='allreachchar_form' action="/_allreachchar_download" method="POST" class="form-horizontal">
      <span style="display:inline-block; width:500px">
        All reach characterization datasets (geomorphology, canopy, etc.):
      </span>
      <span style="display:inline-block">
        <button id="allreachchar" class="btn btn-sm btn-info" style="font-family:mono">
          {% set bulksize = bulk_file_sizes["all_reach_characterization_datasets.zip"]|filesizeformat %}
          {% set spaces = "&nbsp;" * (8 - bulksize|length) %}
          Download {{ spaces|safe }}({{ bulksize }})
        </button>
      </span>
    </form>
    <br>

    <form id='allsuppmeta_form' action="/_allsuppmeta_download" method="POST" class="form-horizontal">
      <span style="display:inline-block; width:500px">
        All free-form, supplementary site metadata:
      </span>
      <span style="display:inline-block">
        <button id="allsuppmeta" class="btn btn-sm btn-info" style="font-family:mono">
          {% set bulksize = bulk_file_sizes["all_supplementary_site_metadata.zip"]|filesizeformat %}
          {% set spaces = "&nbsp;" * (8 - bulksize|length) %}
          Download {{ spaces|safe }}({{ bulksize }})
        </button>
      </span>
    </form>
    <br>
  </div>

  <h3>Get model results</h3>
  <div class="form-group">

    <form id='allmodelsumm_form' action="/_allmodelsumm_download" method="POST" class="form-horizontal">
      <span style="display:inline-block; width:500px">
        All public model summary data (input parameters, averaged outputs, etc.):
      </span>
      <span style="display:inline-block">
        <button id="allmodelsumm" class="btn btn-sm btn-info" style="font-family:mono">
          {% set bulksize = bulk_file_sizes["all_model_summary_data.csv.zip"]|filesizeformat %}
          {% set spaces = "&nbsp;" * (8 - bulksize|length) %}
          Download {{ spaces|safe }}({{ bulksize }})
        </button>
      </span>
    </form>
    <br>

    <form id='alldailyres_form' action="/_alldailyres_download" method="POST" class="form-horizontal">
      <span style="display:inline-block; width:500px">
        All public, daily model results as table:
      </span>
      <span style="display:inline-block">
        <button id="alldailyres" class="btn btn-sm btn-info" style="font-family:mono">
          {% set bulksize = bulk_file_sizes["all_daily_model_results.csv.zip"]|filesizeformat %}
          {% set spaces = "&nbsp;" * (8 - bulksize|length) %}
          Download {{ spaces|safe }}({{ bulksize }})
        </button>
      </span>
    </form>
    <br>
    <!--"%s -%s"|format("hello", "foo")-->

    <form id='allspmodelobj_form' action="/_allspmodelobj_download" method="POST" class="form-horizontal">
      <span style="display:inline-block; width:500px">
        All public model objects in RDS format:
      </span>
      <span style="display:inline-block">
        <button id="allspmodelobj" class="btn btn-sm btn-info" style="font-family:mono">
          {% set bulksize = bulk_file_sizes["all_sp_model_objects.zip"]|filesizeformat %}
          {% set spaces = "&nbsp;" * (8 - bulksize|length) %}
          Download {{ spaces|safe }}({{ bulksize }})
        </button>
      </span>
    </form>
    <br>

  </div>

  <h3>External links</h3>

  <div>
    <span style="display:inline-block; width:500px">
      Follow-up metabolism for 59 sites from the Powell Center Synthesis
    </span>
    <span style="display:inline-block">
  	<a href="https://datadryad.org/dataset/doi:10.5061/dryad.bcc2fqzj2" target="_blank">
  	  <button class="btn btn-sm btn-success" style="font-family:mono">
  		Go
  	  </button>
  	</a>
    </span>
    <br>
  </div>

  <div>
    <span style="display:inline-block; width:500px">
	  Metabolism estimates for NEON sites
    </span>
    <span style="display:inline-block">
  	<a href="https://figshare.com/articles/dataset/Ecosystem_metabolism_estimates_from_the_National_Ecological_Observatory_Network_NEON_stream_and_river_sites/28074452" target="_blank">
  	  <button class="btn btn-sm btn-success" style="font-family:mono">
  		Go
  	  </button>
  	</a>
    </span>
    <br>
  </div>

  <!-- <div class="col-md-6 col-md-offset-3">
    <br><br>
    <button id="getcsv" type="submit" value=Download class="btn btn-primary btn-block">
      Download
    </button>
  </div> -->

</div></div>
<br><br><br>

{% endblock %}
