{% extends "layout.html" %}

{% block chatbot %}
<!-- Start of Async Drift Code -->
<script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('s2rst4h926mg');
</script>
<!-- End of Async Drift Code -->
{% endblock %}

{% block body %}

<form id="choosecolumns" class="form-horizontal" method="POST"
  action="/grab_upload_confirm">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <br>
      <p>Uploading file: <strong>{{filename}}</strong><br>
      <br>
      <hr>

      {% if replacing %}
        <input type="hidden" name="replacing" value="true">
      {% else %}
        <input type="hidden" name="replacing" value="false">
      {% endif %}

      {% set newlen = newsites|length %}
      <input type="hidden" name="newlen" value="{{newlen}}">
      {% if newlen == 0 %}
        <input type="hidden" name="new_sites" value="false">
      {% else %}
        <input type="hidden" name="new_sites" value="true">
        {% for i in range(newlen) %}
          <input type="hidden" name="newsite{{i}}" value="{{newsites[i]}}">
          <p class="lead text-success">
            Please supply the following metadata and preferences for new site
            <strong>{{ newsites[i] }}</strong>:
          </p>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Full site name</span>
            <input type="text" class="form-control" name="sitename{{i}}"
              aria-describedby="Site name" maxlength="50" required>
          </div>
          <br>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Latitude</span>
            <input type="text" class="form-control" name="lat{{i}}"
              placeholder="decimal degrees, e.g. 36.01" aria-describedby="Latitude" required>
            <span class="input-group-addon">Longitude</span>
            <input type="text" class="form-control" name="lng{{i}}"
              placeholder="decimal degrees, e.g. -78.97" aria-describedby="Longitude" required>
          </div>
          <br>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Associated USGS gauge ID (optional)</span>
            <input type="text" class="form-control" name="usgs{{i}}"
              placeholder="e.g. 02085000"
              aria-describedby="USGS site #" maxlength="20">
          </div>
          <br>
          <div>
            <p>
              <strong>Describe site:</strong> characteristics, instruments,
              dates, personnel, etc.
            </p>
            <textarea class="form-control" rows="5" name="metadata{{i}}"
              required></textarea>
          </div>
          <br>
          <strong>Site contact person</strong>
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Full name</span>
            <input type="text" class="form-control" name="contactName{{i}}"
              aria-describedby="Contact name" maxlength="50" required>
              <span class="input-group-addon">email address</span>
              <input type="text" class="form-control" name="contactEmail{{i}}"
                aria-describedby="Contact email" maxlength="255" required>
          </div>
          <br>

          <p>
            <strong>Data embargo</strong>
          </p>
          <p>
            We will not make data from this study site publicly available
            for the number of years you specify below. Only you and any users to whom
            you explicitly grant permission can view, download, clean,
            or in any way access data or model outputs from this study site.
          </p>
          <div class="col-md-6">
            <select id="embargo{{i}}" name="embargo{{i}}">
              <option value="0">No embargo</option>
              <option value="1">1 year</option>
              {% for j in range(2, 6) %}
                <option value="{{j}}">{{j}} years</option>
              {% endfor %}
            </select>
          </div>
          <br><br><hr><br>
        {% endfor %}
      {% endif %}

      <strong>Data sharing policy:</strong>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="policy" required>
            I agree to the <a href="policy">StreamPULSE data policy</a> and confirm
            that this data set will be shared under that policy.
        </label>
      </div>
      <br>
      <hr>

        <!-- <div class="radio"><label>
          <input type="radio" name="policy" id="streampulse" value="streampulse" checked> <u>StreamPULSE open data license</u>:
            Others will be allowed to publicly share (copy, distribute, and use), create (produce works), and adapt (modify, transform, and build upon) this data with attribution given to the StreamPULSE project.
        </label></div>
        <div class="radio"><label>
          <input type="radio" name="policy" id="embargo" value="embargo"> <u>Embargoed data license</u>:
            This data will remain private (not publicly shared online or with other StreamPULSE members) for one year from the upload date (today). After one year, the embargo will lift and the StreamPULSE open data license will take effect.
        </label></div> -->

      <p class="lead">Variable name matching</p>
      <p>
        Match your uploaded variable names below with their official names in the database
        (selected from the first column of dropdown menus). Then specify the
        method used to acquire data for each variable. To exclude a variable, leave its
        dropdown blank. The dropdowns will automatically populate with your previous
        selections.
      </p>
      <p>
        If you're revising an existing data file (or files),
        remember that the previous version(s) will be replaced with whatever you
        upload now, assuming the file name hasn't changed. So, to "delete" a
        variable previously uploaded in error, you can simply leave its dropdown
        blank when replacing the old file.
      </p>
      <p>
        Note that all files remain stored
        on our server, even if you replace their contents in the database.
      </p>
      <p>
        Click <mark>Cancel</mark> below to go back to the previous page.
      </p>
      <p>
        Don't see your variable names?
        <a href="mailto:vlahm13@gmail.com">Send us an email!</a>
      </p>
      <br>
      <p style="color:#CC0033; font-size:1.4em">
        Please double check all fields below, even if they were
        populated automatically.
      </p>
      <p style="color:#CC0033; font-size:1.4em">
        <u>Make sure your units match those of the database variables!</u>
      </p>
    </div>
  </div>
  <br>

  <!-- <div class="row text-center"> -->
  <!-- </div> -->
  <br>

  <div class="row">
    <!-- <div class="col-md-12"> -->
    <div class="col-md-5">
      <!-- <input type="hidden" name="tmpfile" value="{{tmpfile}}"> -->
      <input type="hidden" name="cdict" value="">

      <!-- <div class="col-md-5 col-md-offset-1 text-left"> -->
      <div class="col-md-6 text-left">
        <p><strong>Upload variable name</strong></p>
      </div>
      <div class="col-md-6 text-right">
        <p><strong>Database variable name</strong></p>
      </div>
      <!-- <div class="col-md-2 text-left">
        <p><strong>Unit</strong></p>
      </div> -->
      <!-- <div class="col-md-12"> -->
      <!-- {#% set gvars = gvars|dictsort %#} -->

      {% set vars = gvars|map(attribute='var')|list %}
      {% set units = gvars|map(attribute='unit')|list %}
      {% set methods = gvars|map(attribute='method')|list %}
      <!-- {#% set addtl = gvars|map(attribute='addtl')|list %#} -->
      {% set vlen = gvars|length %}

      {% for c in range(columns|length) %}
        <div class="input-group">
          <span class="input-group-addon">{{columns[c]}}</span>
          <select id="ddA{{c}}" class="form-control text-right" name="{{columns[c]}}">
            {% if columns[c] in cdict.keys() %}
              <option value=""></option>
              {% for v in range(vlen) %}
                {% if vars[v] == cdict[columns[c]] %}
                  <option value="{{vars[v]}}" selected>
                    {{units[v]}}
                  </option>
                {% else %}
                  <option value="{{vars[v]}}">
                    {{units[v]}}
                  </option>
                {% endif %}
              {% endfor %}
            {% else %}
              <option selected value=""></option>
              {% for v in range(vlen) %}
                <option value="{{vars[v]}}">{{units[v]}}</option>
              {% endfor %}
            {% endif %}
          </select>
        </div>
        <br>
      {% endfor %}

      <!-- </div> -->
    </div>

    <input type="hidden" name="mdict" value="">
    <div class='col-md-3 text-center'>
      <!-- <div class="col-md-12 text-center"> -->
      <p><strong>Method/Instrument</strong></p>

      {% for m in range(columns|length) %}
        <!-- <div class="input-group"> -->
          {% if columns[m] in mdict.keys() %}
            <!-- <span id='sB{{m}}' class="input-group-addon" style='visibility:visible'></span> -->
            <!-- class="form-control text-right" -->
            <select id="ddB{{m}}" name="{{columns[m]}}" style='visibility:visible'
            class="form-control text-center">
              <!-- <option value=""></option> -->
              {% for v in range(vlen) %}
                {% if vars[v] == cdict[columns[m]] %}
                  {% for mm in range(methods[v]|length) %}
                    {% if methods[v][mm] == mdict[columns[m]] %}
                      <option value="{{methods[v][mm]}}" selected>
                        {{methods[v][mm]}}
                      </option>
                    {% else %}
                      <option value="{{methods[v][mm]}}">
                        {{methods[v][mm]}}
                      </option>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </select>
          {% else %}
            <!-- <span id='sB{{m}}' class="input-group-addon" style='visibility:hidden'></span> -->
            <select id="ddB{{m}}" name="{{columns[m]}}" style='visibility:hidden'
            class="form-control text-center">
              <option value=""></option>
            </select>
          {% endif %}
        <!-- </div> -->
        <br>
      {% endfor %}

      <!-- </div> -->
    </div>

    <input type="hidden" name="wdict" value="">
    <div class='col-md-2 text-center'>
      <p><strong>Specify "other"</strong></p>
      {% for w in range(columns|length) %}
        {% if columns[w] in cdict.keys() and mdict[columns[w]] == 'other' %}
          <input id="iC{{w}}" name="{{columns[w]}}" style='visibility:visible'
          class="form-control text-left" value={{wdict[columns[w]]}} required>
          </input>
        {% else %}
          <input id="iC{{w}}" name="{{columns[w]}}" style='visibility:hidden'
          class="form-control text-left">
          </input>
        {% endif %}
        <br>
      {% endfor %}
    </div>

    {% set fltr_methods = ['IC', 'FIA', 'TOC-TN', 'spectrophotometer', 'other'] %}
    {% set fltr_opts = ['filtered 0.7um', 'filtered other', 'unfiltered', 'unknown/NA'] %}

    <input type="hidden" name="adict" value="">
    <div class='col-md-2 text-center'>
      <p><strong>Filter?</strong></p>
      {% for a in range(columns|length) %}
        {% if columns[a] in adict.keys() and mdict[columns[a]] in fltr_methods %}
          <select id="ddD{{a}}" name="{{columns[a]}}" style='visibility:visible'
          class="form-control text-center">
            {% for o in fltr_opts %}
              {% if o == adict[columns[a]] %}
                <option value="{{o}}" selected>{{o}}</option>
              {% else %}
                <option value="{{o}}">{{o}}</option>
              {% endif %}
            {% endfor %}
          </select>
        {% else %}
          <!-- {#% if mdict[columns[a]] in filtr_methods %#} -->
          <select id="ddD{{a}}" name="{{columns[a]}}" style='visibility:hidden'
          class="form-control text-center">
            <option value=""></option>
          </select>
          <!-- {#% endif %#} -->
        {% endif %}
        <br>
      {% endfor %}

      <!-- </div> -->
    </div>

    <!-- </div> -->
  </div>
<br>

<br>
<div class="col-md-4 col-md-offset-2">
  <button name="columnin" type="submit" class="btn btn-primary btn-block">
    Submit
  </button>
</div>
<div class="col-md-4">
  <input type='button' class="btn btn-danger btn-block"
  value='Cancel' onclick="location.href = 'grab_upload';">
</div>
<br><br>

</form>

<!-- <br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="col-md-4 col-md-offset-4">
      <input type='button' class="btn btn-danger btn-block"
      value='Cancel' onclick="location.href = 'grab_upload';">
    </div>
  </div>
</div>
<br> -->
<!-- <input type='button' id='test'> -->

<script>
$("[id^='embargo']").selectize({
    delimiter: ',',
    persist: false,
    create: function(input) {
        return {
            value: input,
            text: input
        }
    }
});

function alertbox(alrt, msg){
  return '<div class="alert alert-dismissible alert-' + alrt + '">\
    <button class="close" data-dismiss="alert" aria-label="close">&times;</button>\
    ' + msg + '</div>'
}

// $("select[id^='ddB']").selectize({
//   delimiter: ',',
//   persist: false,
//   create: function(input){
//     return {value: input, text: input}
//   }
// });

//handlers for first column of dropdowns
$(function(){

  //read jinja variables into js
  var vars = {{ vars|safe }}
  var methods = {{ methods|safe }}

  //for all first-column dropdowns...
  $("select[id^='ddA']").each(function(i){
    $(this).change(function(){ //when they change...

      //get the corresponding dropdowns from the other cols
      var ddB = $("select[id='ddB" + i + "']");
      var iC = $("input[id='iC" + i + "']");
      var ddD = $("select[id='ddD" + i + "']");
      // var ddB = $("select[id='ddB" + i + "']")[0].selectize;

      if($(this).val() != ''){

        var ind = vars.indexOf( $(this).val() );
        var newmethods = methods[ind]

        ddB.empty();
        // ddB.clear();
        // ddB.clearOptions();

        //repopulate the options in the methods column
        $.each(newmethods, function(i, m){
          ddB.append($("<option></option>").attr("value", m).text(m));
            // ddB.addOption([{value:m, text:m}]);
            // ddB.refreshOptions();
        });
        ddB.val(newmethods[0]);

        var fltr_methods = {{ fltr_methods|safe }}
        var fltr_opts = {{ fltr_opts|safe }}

        //for certain default methods selections, unhide and populate the 4th column
        ddD.empty();
        if( fltr_methods.includes(ddB.val()) ){
          $.each(fltr_opts, function(i, f){
            ddD.append($("<option></option>").attr("value", f).text(f));
          });
          ddD.val(fltr_opts[0]);
          ddD.attr('style', 'visibility: visible');
        } else {
          ddD.attr('style', 'visibility: hidden');
        }

        // ddB.select(newmethods[0]);
        // $("select[id='sB" + i + "']").css('visibility', 'visible');
        ddB.attr('style', 'visibility: visible');

      } else {

        ddB.empty();
        // ddB.clear();
        // ddB.clearOptions();
        // $("select[id='sB" + i + "']").css('visibility', 'hidden');
        ddB.attr('style', 'visibility: hidden');
        ddD.empty();
        ddD.attr('style', 'visibility: hidden');
      };

      //hide and empty the 3rd column dropdowns
      iC.val('');
      iC.attr('style', 'visibility: hidden');
      iC.prop('required', false);

    });
  });
});

//handlers for methods column of dropdowns
$(function(){
  $("select[id^='ddB']").each(function(i){
    $(this).change(function(){

      var iC = $("input[id='iC" + i + "']");
      var ddD = $("select[id='ddD" + i + "']");

      if($(this).val() == 'other'){
        iC.val('');
        iC.attr('style', 'visibility: visible');
        iC.prop('required', true);
      } else {
        iC.val('');
        iC.attr('style', 'visibility: hidden');
        iC.prop('required', false);
      };

      var fltr_methods = {{ fltr_methods|safe }}
      var fltr_opts = {{ fltr_opts|safe }}

      ddD.empty();
      if( fltr_methods.includes($(this).val()) ){
        $.each(fltr_opts, function(i, f){
          ddD.append($("<option></option>").attr("value", f).text(f));
        });
        ddD.val(fltr_opts[0]);
        ddD.attr('style', 'visibility: visible');
      } else {
        ddD.attr('style', 'visibility: hidden');
      }

    });
  });
});


// function populateMethods(){
//   var e = document.getElementById('dd1');
//   // for(var i = 0; i < columns.length)
//   if('TOC' === e.options[0].value){
//     console.log("yo")
//   }
// }
// document.getElementById("dd1").addEventListener("click", populateMethods);

// function populateMethods2(){
//   var e = document.getElementById('TOC');
//   if('TOC' === e.value){
//     console.log("yo2")
//   }
// }
// document.getElementById("TOC").addEventListener("click", populateMethods2);

// $(function(){
//   $('#test').click(function() {
//     avals = [];
//     $("select[id^='ddB']").each(function(){
//       if($(this).val() != ""){
//         avals.push( $(this).serializeArray()[0] )
//       }
//     });
//     adict = JSON.stringify(avals);
//     console.log(adict);
//   });
// });

$(function(){
  $('button[name=columnin]').click(function() {

    //accumulate user-specified variable names
    cvals = [];
    $("select[id^='ddA']").each(function(){
      if($(this).val() != ""){
        cvals.push( $(this).serializeArray()[0] )
      }
    });
    cdict = JSON.stringify(cvals);
    $('#choosecolumns input[name=cdict]').val( cdict );

    //accumulate user-specified methods (including write-in methods and addtl info)
    mvals = []; //will contain methods selections
    wvals = []; //|| for write_ins
    avals = []; //|| for addtl
    $("select[id^='ddB']").each(function(i){
      if($(this).val() != ""){
        mvals.push( $(this).serializeArray()[0] );
        wvals.push( $('#iC' + i).serializeArray()[0] );

        var ddD = $('#ddD' + i)
        if(ddD.val() != null){
          avals.push( ddD.serializeArray()[0] );
        } else if ( $('#ddA' + i).val() != null ){
          input_colname = $('#ddA' + i).serializeArray()[0]['name']
          avals.push( {"name":input_colname, "value":""} )
        } else {}
      }
    });

    mdict = JSON.stringify(mvals);
    $('#choosecolumns input[name=mdict]').val(mdict);
    wdict = JSON.stringify(wvals);
    $('#choosecolumns input[name=wdict]').val(wdict);
    adict = JSON.stringify(avals);
    $('#choosecolumns input[name=adict]').val(adict);

  });
})

</script>

{% endblock %}
