{% extends "layout.html" %}

{% block chatbot %}
<!-- Start of Async Drift Code -->
<script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('s2rst4h926mg');
</script>
<!-- End of Async Drift Code -->
{% endblock %}

{% block headcode %}
<!-- <script src="static/hot/handsontable.full.js"></script> -->
<!-- <link rel="stylesheet" media="screen" href="static/hot/handsontable.full.css"> -->
{% endblock %}

{% block body %}

<div id="loading"><span id="loading-image">
  <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i><span class="sr-only">Loading...</span>
</span></div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h1>Upload manually collected data</h1>
    <h4 style='margin: 0'>(i.e. from periodic grab samples)</h4>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <hr>
    <br>

    <mark>See the</mark>
    <button data-toggle="collapse" class="btn btn-default"
      data-target="#instr">
      general instructions
    </button>
    <mark>on file naming and formatting.</mark>
    <p class='text-muted'>
      Read this even if you're familiar with our sensor data upload process.
      Uploading of manually collected data differs in several ways.
    </p>

    <div id="instr" class="collapse" style='background-color: #F8F8FF'>
      <h3>File naming</h3>
      <br>
      <p>
        Name your file <code>REGIONID_YYYY-MM-DD.csv</code>, where
      </p>

      <ul>
        <li>
          <code>REGIONID</code> is a two-letter abbreviation for your state,
          country, etc.
        </li>
        <ul>
          <li>
            e.g. AZ for Arizona, PR for Puerto Rico,
            SE for Sweden
          </li>
        </ul>
        <li>
          <code>YYYY-MM-DD</code> is a date that distinguishes this file
          from others.
        </li>
        <ul>
          <li>
            This may be the date of the first or last observation in the file,
            the date the data were processed, or even an arbitrary date.
          </li>
        </ul>
      </ul>
      <p><b>Example filename:</b> <code>NC_2017-12-06.csv</code></p>
      <br>

      <h3>Data formatting</h3>
      <p>Data must be in standard CSV format, i.e.</p>
      <ol>
        <li>Records separated by newlines</li>
        <li>Fields separated by commas (not semicolons)</li>
        <li>Decimals demarcated by periods (not commas)</li>
        <li>Double quotes around fields with embedded commas, quotes, etc.</li>
      </ol>
      <p>The file must contain:</p>
      <ol>
        <li>One header row followed directly by data rows</li>
        <li>
          <ins>Column 1:</ins>
          <ul>
            <li>Must be named "DateTime_UTC"</li>
            <li>
              Must contain timestamps converted to
              <strong>UTC standard time</strong>
            </li>
            <li>
              Must be formatted as: <code>YYYY-MM-DD HH:MM:SS</code>.
              <br>
              See datetime formatting help below.
            </li>
          </ul>
        </li>
        <li>
          <ins>Column 2:</ins>
          <ul>
            <li>Must be named "Sitecode"</li>
            <li>
              Must contain unique abbreviations for the sites corresponding
              to your observations. These should match the abbreviations used
              to identify sensor sites (See the Sitelist tab.).
            </li>
          </ul>
        </li>
        <li>One row per timestamp</li>
        <li>Additional columns for each data variable</li>
      </ol>
      <br>

      <h3>Datetime formatting help</h3>
      <p>Date-time stamps can be challenging to format.</p>
      <p>
        In <code>R</code> you can create a <code>POSIXct</code> object.
        Below is an example of converting a date-time string to the correct format:
      </p>
      <pre>
  datetimeorig &lt;- &quot;8/31/16 13:24:16&quot; # can also be a vector

  # In POSIX, 1. designate the format to match the original date time
  #  and 2. specify the timezone... a full list can be viewed by running OlsonNames()
  dtval &lt;- as.POSIXct(datetimeorig, format=&quot;%m/%d/%y %H:%M:%S&quot;, tz=&quot;EST&quot;)

  # Then, just switch the display to UTC
  attr(dtval,&quot;tzone&quot;) &lt;- &quot;UTC&quot;

  # The output will be 2016-08-31T18:24:16Z
      </pre>
      <p>
        The as.POSIXct function can convert any date-time format and any time zone.
        For details on all of the format structure codes,
        <a href="https://stat.ethz.ch/R-manual/R-devel/library/base/html/strptime.html">
          see the R documentation</a>.
      </p>
      <p>
        In <code>matlab</code> you can create a date time string with the numeric values for your timestamp, accounting for the UTC offset:
      </p>
      <pre>
  time.UTC = -5; % UTC offset for EST
  timeVec = [time.year time.month time.day time.hour-time.UTC time.min time.sec];
  timeStr = datestr(timeVec,&#39;yyyy-mm-dd HH:MM:SS&#39;); % what you will save
      </pre>
      <p>
        In <code>Excel</code> you can modify the timestamp with a formula based
        on the timezone offset:
      </p>
      <pre>=TimeCell+(tzOffsetHours/24)</pre>
      <p>
        Then modify the cell format of the new column with a &ldquo;custom&rdquo;
        type to match <code>YYYY-MM-DD HH:MM:SS</code>
        (<a href="https://support.office.com/en-us/article/Format-a-date-the-way-you-want-8e10019e-d5d8-47a1-ba95-db95123d273e">
          see documentation</a>).
      </p>
      <p>
        Be sure to put the modified date-time stamp as the first column in your
        exported <code>.csv</code> file.
      </p>
      <br>

      <h3>Saving files</h3>
      <p>Exporting a <code>.csv</code> file from R is easy with the <code>readr</code> package, which saves files without row names and preserves the ISO date-time format:</p>
      <pre>
  library(readr)
  write_csv(datatable, path=&quot;NC_Eno_2016-10-13_XX.csv&quot;)
      </pre>
      <br>
      <button data-toggle="collapse" class="btn btn-default" data-target="#instr">
        Hide instructions
      </button>
      <hr>
    </div>
    <br>

    <mark>Please read the</mark>
    <button data-toggle="collapse" class="btn btn-default" data-target="#revision">
      data revision instructions
    </button>
    <mark>before checking the box below.</mark>
    <br>
    <div id='revision' class='collapse' style='background-color: #F8F8FF'>
      <br>
      <p>
        To revise previously uploaded data, you must upload a revised file with the
        same name as the original. All data previously associated with that file
        will be replaced in our database. The original file will still be stored
        on our server, however.
      </p>
      <p><u>Here's how it works:</u></p>
      <ol>
        <li>Make a local copy of the CSV file that's being revised.</li>
        <li>
          Modify the name of the copy that will <strong>not</strong> receive data
          edits. You may want to call it something like
          <code>AA_2017-01-01_unrevised.csv</code>.
        </li>
        <li>
          Change erroneous data in the other copy. Make sure its name is
          identical to the originally uploaded file.
        </li>
        <li>Upload this revised copy. Make sure to check the box below.</li>
      </ol>
      <p>
        <strong>NOTICE:</strong> Currently there can be unintended consequences if
          you upload the same variable, from the same place and time, in multiple
          files (i.e. files with different names). We realize it can be inconvenient
          to locate original files in order to revise StreamPULSE data, but
          at present that is the only way. We will
          enable more flexible data revision in a future update.
      </p>
      <p><strong>If you have any questions</strong>, please use the chatbox
        in the bottom right, or
        <a href="mailto:vlahm13@gmail.com">send us an email.</a>
      </p>
      <hr>
    </div>
    <br>


    <form action="" method=post enctype=multipart/form-data>
      <div class="form-group">
        Select a file here:
        <input type="file" class="form-control-file" name=fileG multiple>
        <!-- <input type="file" class="form-control-file" name=file aria-describedby="fileHelp" multiple> -->
        <!-- <small id="fileHelp" class="form-text text-muted">Select files to upload.</small> -->
      </div>
      <input type="checkbox" name="replaceG">
      Check this box if revising (i.e. replacing) an existing file.
      <br>
      <!-- <small class="form-text text-muted">(note: this is a bit slower, so don't use it if this is an initial upload)</small> -->
      <br><br>
      <!-- <div class="col-md-6 col-md-offset-3"> -->
      <button id="upxG" type="submit" value=Upload
        class="btn btn-primary btn-block">
        Upload
      </button>
      <!-- </div> -->
    </form>
    <br><br><br>
    <hr>

<!--
<br>
<h2>File upload help</h2>
<ul class="nav nav-tabs">
  <li><a class="dropdown-toggle" data-toggle="tab" href="#fileformatting">File formatting</a></li>
  <li class="active"><a class="dropdown-toggle" data-toggle="tab" href="#fileupload">File upload</a></li>
</ul>
<div class="tab-content">
  <div id="fileformatting" class="tab-pane fade">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/howgqEyGIrA" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div id="fileupload" class="tab-pane fade in active">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LYJbGOx_4s0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<br>
-->



  </div>
</div>
<br>

<script>
function alertbox(alrt, msg){
  return '<div class="alert alert-dismissible alert-'+alrt+'">\
    <button class="close" data-dismiss="alert" aria-label="close">&times;</button>\
    '+msg+'</div>'
}
</script>

<script>
$(function(){
  $("#upxG").click(function(){
    $('#loading').show();
  })
});
</script>

{% endblock %}
