{% extends "layout.html" %}
{% block body %}

<br>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-4">
        <p class="text-muted text-center"><i class="fa fa-bar-chart fa-4x"></i>
        <br>
        <span class="h1">{{nobs}}*</span>
        <br>
        <small>OBSERVATIONS</small></p>
      </div>
      <div class="col-md-4">
        <p class="text-muted text-center"><i class="fa fa-users fa-4x"></i>
        <br>
        <span class="h1">{{nuse}}</span>
        <br>
        <small>USERS</small></p>
      </div>
      <div class="col-md-4">
        <p class="text-muted text-center"><i class="fa fa-map-marker fa-4x"></i>
        <br>
        <span class="h1">{{nsit}}</span>
        <br>
        <small>SITES</small></p>
        <br><br><br>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-7 text-right">
    <p class="lead text-muted">
      What is the StreamPULSE project?
    </p>
  </div>
  <div class="col-md-5 text-left">
    <p>
      <a class="btn btn-lg btn-success" href="http://streampulse.org" style="width:7em">
        Find out
      </a>
    </p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-7 text-right">
    <p class="lead text-muted">
      Before modeling stream metabolism:
    </p>
  </div>
  <div class="col-md-5 text-left">
    <p>
      <a class="btn btn-lg btn-primary" style="width:7em"
      href="https://docs.google.com/document/d/1D0DcSsNAPx_kfFECg23AEwNw5LTtx2_Fev-jKCXfk6Q/edit?usp=sharing">
        Learn how
      </a>
    </p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-7 text-right">
    <p class="lead text-muted">
      When you're ready to get started:
    </p>
  </div>
  <div class="col-md-5 text-left">
    <p>
      <a class="btn btn-lg btn-warning" style="width:7em"
      href="https://data.streampulse.org/register">
        Register
      </a>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <!--<p class="text-center"><a class="btn btn-lg btn-primary" href="cleandemo">Test our data cleaning app</a></p>-->
    <br><br>
    <!-- <center> -->
    <button data-toggle="collapse" class="btn btn-default" data-target="#sops">
      Show SOPs
    </button>
    <!-- </center> -->
    <div id="sops" class="collapse">
      <iframe src="https://drive.google.com/embeddedfolderview?id=0B1zvt7V2NcF6ZmdnXzRXNlY2R1k#list"
        style="width:100%; height:600px; border:0;">
      </iframe>
      <!-- formerly 14VFLjuKYjpXhHhV1e-xEtD59WrgVrwtv -->
    </div>
    <br><br>
    <!-- <center> -->
    <p class='lead'><a href="policy">Data policy</a></p>
    <!-- </center> -->
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 text-right text-muted">
    <br><br>
    <p>*Count updated daily</p>
  </div>
</div>

{% endblock %}
