{% extends "layout.html" %}
{% block body %}

<div class="row"><div class="col-md-10 col-md-offset-1">
  <h1>Metabolism modeling</h1>

  <p>Below is code for fitting metabolism models with either <mark>streamMetabolizer</mark> or <mark>BASE</mark>.
    Copy and paste into R and test it out. You can modify the parameters to specify different sites, date ranges, etc. You can get <a href="https://github.com/streampulse/model">more information on the modeling code here</a>.</p>

  <p><b>Future modeling plans</b>: The streampulse team will be automatically generating standardized model runs that will be shared here in late 2017.</p>

  <!-- FAQ -->
  <p class="lead">So you want to fit a metabolism model with streamMetabolizer?
    <br>
    <a href="https://docs.google.com/document/d/1D0DcSsNAPx_kfFECg23AEwNw5LTtx2_Fev-jKCXfk6Q/edit?usp=sharing">Here are some things to consider first...</a></p>

  <h2>R code template</h2>
  <!-- Github gist -->
  <!--<script src="https://gist.github.com/berdaniera/6f44aec52a2d05a6c59ff4cf68e7531b.js"></script> -->
  <script src="https://gist.github.com/vlahm/04083f032208cdfaacfe5a11914eb44b.js"></script>


  <!-- <p><i>Copy-and-paste into R and let it run!</i> The <span class="rparam">pink options</span> in the code are options that you can change.
    More options for different types of models are coming soon...</p><br>

  <form id="modelgen">
    <div class="col-md-6">
      <select placeholder="Choose a site" id="dsite" name="site">
        <option value="">Choose a site</option>
        {% for sv, sn, sd, ed in sites %}
        <option value="{{sv}}">{{sn}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-6">
      <input class="form-control" type="text" id="datepicker" name="daterange" value="" placeholder="Select date range">
    </div>
  </form>
</div></div>
<br>

<div class="row"><div class="col-md-10 col-md-offset-1">
<pre>
<span class="rcmt"># You need to have an internet connection for this code to function.</span>
<span class="rfn">library(</span>streamMetabolizer<span class="rfn">)</span>
<span class="rfn">library(</span>httr<span class="rfn">)</span>
<span class="rfn">library(</span>jsonlite<span class="rfn">)</span>
<span class="rfn">library(</span>tidyr<span class="rfn">)</span>
<span class="rfn">library(</span>dplyr<span class="rfn">)</span>

<span class="rcmt"># This sources our StreamPULSE functions from GitHub.</span>
spfunctions <- <span class="rfn">GET(</span>"https://raw.githubusercontent.com/berdaniera/StreamPulsev2/master/sp_functions.R"<span class="rfn">)</span>
<span class="rfn">eval(parse(</span>text = <span class="rfn">content(</span>spfunctions,as="text",encoding="UTF-8"<span class="rfn">))</span>, envir= .GlobalEnv<span class="rfn">)</span>

<span class="rcmt"># We recommend the Bayesian model for analysis, but you can replace this with "mle" for a quick, initial fit.</span>
model_type <- "<span class="rparam">bayes</span>"

{% if g.user.is_authenticated %}<span class="rcmt"># This is your personal api access token.</span>
<span class="rcmt"># It grants you (and anyone you share it with) secure access to your restricted data, if applicable.</span>
my_api_token <- "<span class="rparam">{{g.user.token}}</span>"

{% endif %}<span class="rcmt"># Get StreamPULSE data for streamMetabolizer</span>
fitdata <- <span class="rfn">sp_data_metab(</span>sitecode = <span class="rparam" id='site_code'>site_code</span>,
    startdate = <span class="rparam" id='start_date'>start_date</span>,
    enddate = <span class="rparam" id='end_date'>end_date</span>,
    type = model_type,
    token = <span class="rparam">{% if g.user.is_authenticated %}my_api_token{% else %}NULL{% endif %}</span><span class="rfn">)</span>
<span class="rcmt"># If you omit the <i>token</i> option or use <i>token=NULL</i>, you will only be able to access publicly-available data.</span>

<span class="rcmt"># streamMetabolizer functions</span>
<span class="rcmt"># Note, the Bayesian model can take a significant amount of time to fit (like an hour or more)...</span>
modname <- <span class="rfn">mm_name(</span>type = model_type<span class="rfn">)</span>
modspecs <- <span class="rfn">specs(</span>modname<span class="rfn">)</span>
modfit <- <span class="rfn">metab(</span>specs = modspecs, data = fitdata<span class="rfn">)</span>

<span class="rcmt"># Predictions</span>
preds <- <span class="rfn">predict_metab(</span>modfit<span class="rfn">)</span>
<span class="rfn">plot_metab_preds(</span>modfit<span class="rfn">)</span>

dopreds <- <span class="rfn">predict_DO(</span>modfit<span class="rfn">)</span>
<span class="rfn">plot_DO_preds(</span>modfit<span class="rfn">)</span>
</pre> -->

<!--
</div></div>

<script>
$('#dsite').selectize({
    delimiter: ',',
    persist: false,
    create: function(input) {
        return {
            value: input,
            text: input
        }
    }
});

var sitedict = {}
{% for sv, sn, sd, ed in sites %}
  sitedict['{{sv}}'] = ['{{sd}}','{{ed}}']
{% endfor %}

$('#dsite').change(function(){
  //http://www.daterangepicker.com/
  var sitedates = sitedict[$('select[name=site]').val()];
  $('#datepicker').daterangepicker({
    locale: {format: 'YYYY-MM-DD', separator: ' to '},
    startDate: sitedates[0],
    endDate: sitedates[1],
    minDate: sitedates[0],
    maxDate: sitedates[1],
    autoApply: true,
    opens: 'left'
  });

  $('#start_date').text( '"'+$("#datepicker").data('daterangepicker').startDate.format('YYYY-MM-DD')+'"' );
  $('#end_date').text( '"'+$("#datepicker").data('daterangepicker').endDate.format('YYYY-MM-DD')+'"' );
  $('#site_code').text( '"'+$('select[name=site]').val()+'"' );
});

$('#datepicker').on('apply.daterangepicker', function(ev, picker) {
  $('#start_date').text( '"'+picker.startDate.format('YYYY-MM-DD')+'"' );
  $('#end_date').text( '"'+picker.endDate.format('YYYY-MM-DD')+'"' );
});

</script>
-->
{% endblock %}
