{% extends "layout.html" %}

{% block chatbot %}
<!-- Start of Async Drift Code -->
<script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('s2rst4h926mg');
</script>
<!-- End of Async Drift Code -->
{% endblock %}

{% block body %}

<div class="row"><div class="col-md-6 col-md-offset-3">
  <h1>Clean Data</h1>
  <p class="lead">Authorized users will be able to visually clean and analyze data here. <small>This step is important for assuring data quality.</small><p>

  <form id="qaqc2">
    <div class="col-md-8">
      <select placeholder="Choose a site" id="dsite" name="site">
        <option value="">Choose a site</option>
        {% for sv, sn in sites %}
        <option value="{{sv}}">{{sn}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-4">
      <button name="qaqcsite" class="btn btn-primary btn-block">Select</button>
    </div>
  </form>
</div></div>

<!-- <div class='tooltip'>test</div> -->

<br>

<div class="row" id="flagging">

<div class="row text-center">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-inline">
        Show local night-time: <input type="checkbox" id="shownight" value="yes" checked> &nbsp;
        <!-- Aggregation: <select class="form-control" id="timescale" name="timescale">
          <option value="15m" selected>15 minutes (default)</option>
          <option value="1h">1 hour</option>
          <option value="1d">1 day</option></select> &nbsp; -->
        Fill down marking brush: <input type="checkbox" id="fillbrush" value="yes"> &nbsp;
        Backfill area variable: <select class="form-control" id="backgraphlist" name="backgraphlist"></select>
        <br>
        <button class="btn btn-danger" type="button" id="addna">Set NA values</button>
        <button class="btn btn-primary" type="button" id="zoomin">Zoom in to selected region</button>
        <button class="btn btn-link" type="button" id="zoomreset">Reset zoom</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><span class="lead">Data Flagging</span> &ndash; Label points of interest or concern. </div>
      <div class="panel-body">
        <select id="flags" placeholder="Choose a flag" name="flagID">
          <option value="">Choose (or enter) a flag ID</option> <!--part of placeholder?-->
          {% for f in flags %}
          <option value="{{f}}">{{f}}</option>
          {% endfor %}
        </select>
        <input type="text" name="fcomment" class="form-control" placeholder='Add optional comments (e.g. "Sensor out of water")'>
        <button class="btn btn-warning btn-block" type="button" id="addflag">Flag selected</button>
      </div>
    </div>
  </div>
<!--  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><span class="lead">Tags/notes</span> &ndash; interesting features in the data (storms, leaf drop, etc.)</div>
      <div class="panel-body">
        <select id="tags" placeholder="Choose (or enter) a tag ID (alphanumeric with no spaces please)" name="tagID">
          <option value="">Choose (or enter) a tag ID</option>
          {% for t in tags %}
          <option value="{{f}}">{{t}}</option>
          {% endfor %}
        </select>
        <input type="text" name="fcomment" class="form-control" placeholder="Add comments (optional)">
        <button class="btn btn-info btn-block" type="button" id="addtag">Tag selected</button>
      </div>
    </div>
  </div> -->

</div>
<div class="row">
  <div class="col-md-6 text-left"><button class="btn btn-link" type="button" id="panback"><< Previous four weeks</button></div>
  <div class="col-md-6 text-right"><button class="btn btn-link" type="button" id="panforward">Next four weeks >></button></div>
</div>

</div>


<div class="row" id="graphs"></div>


<script src="static/js/graphs.js"></script>
<script>
$('#dsite').selectize({
    delimiter: ',',
    persist: false,
    create: function(input) { return {value: input,text: input} }
});

$('#flags2').selectize({
    delimiter: ',',
    persist: false,
    create: function(input) { return {value: input,text: input} }
});

//$('#tags').selectize({
//    delimiter: ',',
//    persist: false,
//    create: function(input) { return {value: input,text: input} }
//});

var plotdates;
var alldata;
var alldatna;
var plotstart;
var plotend;
function getdisplaydata(start, end, dat){
  stdt = Date.parse(start)
  endt = Date.parse(end)
  pltdat = $(dat).filter(function(i,n){
    return Date.parse(n.DateTime_UTC)>stdt && Date.parse(n.DateTime_UTC)<endt
  })
  return $.makeArray(pltdat)
}

$(function(){
  $("button[name=qaqcsite]").click(function(){
    var dat = {}
    dat['site'] = $('select[name=site]').val();

    $.ajax({
      type: 'POST',
      url:'/_getqaqc',
      data: JSON.stringify(dat),
      contentType: 'application/json;charset=UTF-8',
      success: function(response){
        $("#graphs").empty();
        plotdates = response.plotdates; // get plot date list in
        alldata = JSON.parse(response.dat);
        plotstart = plotdates[1];
        plotend = plotdates[0];
        data = getdisplaydata(plotstart,plotend,alldata);

        $.ajax({
          type: 'POST',
          url: '/_outlierdetect',
          data: JSON.stringify(data),
          contentType: 'application/json;charset=UTF-8',
          success: function(response2){
            outliers = response2.outliers;
            variables = response.variables;
            sundat = JSON.parse(response.sunriseset);
            sundat.forEach(function(d){
              d.rise = parseDate(d.rise);
              d.set = parseDate(d.set);
            });
            flags = JSON.parse(response.flagdat);
            // console.log(outliers);
            Plots(variables, data, flags, outliers, "qaqc");
            if($("#shownight").is(":checked")) { Sunlight(variables, sundat) };
            $('#flagging').show();
            $('#backgraphlist')
                .find('option')
                .remove()
                .end()
                .append('<option value="None" selected>None</option>');
            for (var i = 0; i < response.variables.length; ++i) {
                $('#backgraphlist').append('<option value="'+response.variables[i]+'">'+response.variables[i]+'</option>');
            }

          },
          error: function(error){
            console.log(error);
          }
        });

      },
      error: function(error){
        console.log(error);
      }
    });
    return false;
  })
});

//function ajaxtest(){
//  $.ajax({
//    type: 'POST',
//    url: '/_outlier_detect',
//    data: data,
//    contentType: 'application/json;charset=UTF-8',
//    success: function(response2){
//      outliers = response2.outliers //a list of lists of outliers for each variable, perhaps?
//      console.log(String(outliers)); //make sure this arrangement works
//    },
//    error: function(error){
//      console.log(error);
//    }
//  });
//}


$(function(){
  $("#zoomin").click(function(){
    redrawPoints(zoom_in = true, sbrush=selectedBrush, reset=false)
  });
})

$(function(){
  $("#zoomreset").click(function(){
    redrawPoints(zoom_in = true, sbrush=selectedBrush, reset=true)
  });
})

$(function(){
  $("#panback").click(function(){
    if(plotstart!=plotdates.slice(-1)[0]){
      // if the start date is not the last date in the list
      plotend = plotstart;
      plotstart = plotdates[plotdates.indexOf(plotstart)+1];
      if(datna != null){
        data = getdisplaydata(plotstart,plotend,alldatna);
      }else{
        data = getdisplaydata(plotstart,plotend,alldata);
      }
      $.ajax({
        type: 'POST',
        url: '/_outlierdetect',
        data: JSON.stringify(data),
        contentType: 'application/json;charset=UTF-8',
        success: function(response){
          outliers = response.outliers;
          $("#graphs").empty();
          Plots(variables, data, flags, outliers, "qaqc");
          if($("#shownight").is(":checked")) { Sunlight(variables, sundat) };
        },
        error: function(error){
          console.log(error);
        }
      });
    }
  });
})

$(function(){
  $("#panforward").click(function(){
    if(plotend!=plotdates[0]){
      // if the end date is not the first date in the list
      plotstart = plotend;
      plotend = plotdates[plotdates.indexOf(plotend)-1];
      if(datna != null){
        data = getdisplaydata(plotstart,plotend,alldatna);
      }else{
        data = getdisplaydata(plotstart,plotend,alldata);
      }
      $.ajax({
        type: 'POST',
        url: '/_outlierdetect',
        data: JSON.stringify(data),
        contentType: 'application/json;charset=UTF-8',
        success: function(response){
          outliers = response.outliers;
          $("#graphs").empty();
          Plots(variables, data, flags, outliers, "qaqc");
          if($("#shownight").is(":checked")) { Sunlight(variables, sundat) };
        },
        error: function(error){
          console.log(error);
        }
      });
    }
  });
})

function alertbox(alrt,msg){
  return '<div class="alert alert-dismissible alert-'+alrt+'">\
    <button class="close" data-dismiss="alert" aria-label="close">&times;</button>\
    '+msg+'</div>'
}


$(function(){
  $("#addna").click(function(){
    if (undefined != selectedBrush){ // only do this if there is a brush selected
      s = d3.brushSelection(d3.select("#"+selectedBrush).node())
      dat = {}
      dat['site'] = $('select[name=site]').val();
      dat['startDate'] = x.invert(s[0]);
      dat['endDate'] = x.invert(s[1]);
      dat['var'] = selectedBrush;
      $.ajax({
        type: 'POST',
        url:'/_addna',
        data: JSON.stringify(dat),
        contentType: 'application/json;charset=UTF-8',
        success: function(response){
          console.log("success")
          $("#alerts").append(alertbox('success','Added NA values.'))
          alldatna = JSON.parse(response.dat);
          datna = getdisplaydata(plotstart,plotend,alldatna);
          redrawPoints(zoom_in=false, sbrush=selectedBrush, reset=false)
        },
        error: function(error){
          console.log(error);
        }
      });
      return false;
    }else{
      $("#alerts").append(alertbox('warning','Please select points to add NAs.'))
    }
  });
})

//add flags when static button is clicked
$(function(){
  $("#addflag").click(add_flag);
});

//add flags when popup button is clicked
$(document).on('click', '#addflag2', add_flag);

function add_flag() {
  if (undefined != selectedBrush){ // only do this if there is a brush selected
    s = d3.brushSelection(d3.select("#"+selectedBrush).node())
    dat = {}
    dat['site'] = $('select[name=site]').val();
    dat['startDate'] = x.invert(s[0]);
    dat['endDate'] = x.invert(s[1]);
    if(brushdown){
      dat['var'] = variables;
      d3.selectAll("svg").selectAll(".selected").classed("highlighted", function(d) {
        is_brushed = dat['startDate'] <= d.date && d.date <= dat['endDate'];
        return is_brushed;
      });
    }else{
      dat['var'] = [selectedBrush];
      d3.select("."+selectedBrush).selectAll(".selected").classed("highlighted", function(d) {
        is_brushed = dat['startDate'] <= d.date && d.date <= dat['endDate'];
        return is_brushed;
      });
    }
    dat['comment'] = $("input[name=fcomment2]").val();
    dat['flagid'] = $("select[name=flagID2]").val();
    if (dat.flagid != null){
      console.log('here');
      $.ajax({
        type: 'POST',
        url:'/_addflag',
        data: JSON.stringify(dat),
        contentType: 'application/json;charset=UTF-8',
        success: function(response){
          console.log("success")
          $("#alerts").append(alertbox('success','Added flag.'))
        },
        error: function(error){
          console.log(error);
        }
      });
      return false;
    } else {
      $("#alerts").append(alertbox('warning','Please select a flag type.'))
    }
  } else {
    $("#alerts").append(alertbox('warning','Please select points to add Flags.'))
  }
}


//$(function(){
//  $("#addtag").click(function(){
//    if (undefined != selectedBrush){ // only do this if there is a brush selected
//      s = d3.brushSelection(d3.select("#"+selectedBrush).node())
//      dat = {}
//      dat['site'] = $('select[name=site]').val();
//      dat['startDate'] = x.invert(s[0]);
//      dat['endDate'] = x.invert(s[1]);
//      dat['var'] = selectedBrush;
//      dat['tagid'] = $("select[name=tagID]").val();
//      dat['comment'] = $("input[name=fcomment]").val();
//      d3.select("."+selectedBrush).selectAll(".selected").classed("highlighted", function(d) {
//        is_brushed = dat['startDate'] <= d.date && d.date <= dat['endDate'];
//        return is_brushed;
//      });
//      $.ajax({
//        type: 'POST',
//        url:'/_addtag',
//        data: JSON.stringify(dat),
//        contentType: 'application/json;charset=UTF-8',
//        success: function(response){
//          console.log("success")
//          $("#alerts").append(alertbox('success','Added tag.'))
//        },
//        error: function(error){
//          console.log(error);
//        }
//      });
//      return false;
//    }else{
//      $("#alerts").append(alertbox('warning','Please select values to add Tags/Notes.'))
//    }
//  })
//});

$(function(){
  $('#fillbrush').change(function() {
    if($(this).is(":checked")) {
      brushdown = true;
    }else{
      brushdown = false;
    }
  });
})

</script>

{% endblock %}
