{% extends "layout.html" %}
{% block body %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Clean Sensor Data</h1>
    <p class="lead">
      Authorized users can visually clean sensor data here.
      This step is important for assuring data quality.
    </p>
    <br>
    <form id="qaqc2">
      <select placeholder="Choose a site" id="dsite" name="site">
        <option value="">Choose a site</option>
        {% for sv, sn, va in sitedata %}
          <option value="{{sv}}">{{sn}}</option>
        {% endfor %}
      </select>
      <br>
      <div class="row">
        <div class="col-md-6" style="border-right:1px solid gray;">
          <p id="selectvarp" class="secondarytext" style="display:none">
            Select variables (core metabolism variables bolded):
          </p>
          <div id="qaqc_vars">
          </div>
        </div>
        <div class="col-md-6" id="selectyear" style="display:none">
          <p class="secondarytext">
            Select the year for which you want to clean data:
          </p>
          <select id="dyear" name="yr"></select>
        </div>
      </div>
      <br><br>
      <div class="row" id="gobutton" style="display:none">
        <div class="col-md-10 col-md-offset-1">
          <button name="qaqcsite" class="btn btn-primary btn-block">
            Go
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<br>
<div class="col-md-4 col-md-offset-4 text-center">
  <a href="qaqc_help">
    <p style="font: 20px sans-serif">Instructions Here</p>
  </a>
</div>
<br><br><br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p class="text-muted">
      Note: if you suspect that you're seeing an old version of this app, delete
      cookies and clear your web cache.
      <a href="https://www.thewindowsclub.com/clear-cache-cookies-specific-website"
      target="_bank" rel="noopener noreferrer">
        Here's how
      </a>
      to do that for a specific website using Chrome or Firefox. Reload this
      page when you're done.
    </p>
    <p>
      <strong>Also note</strong>: Points you've just flagged may revert to default blue if
      you switch back and forth between time ranges. Don't worry. The flag information
      is still in the system. The points will appear as flagged the next time you
      load the page.
    </p>
  </div>
</div>
<br>

<div class="row" id="flagging">

<div class="row text-center">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-inline">
        Show local night-time: <input type="checkbox" id="shownight" value="no"> &nbsp;
        <!-- Aggregation: <select class="form-control" id="timescale" name="timescale">
          <option value="15m" selected>15 minutes (default)</option>
          <option value="1h">1 hour</option>
          <option value="1d">1 day</option></select> &nbsp; -->
        <!-- Fill down marking brush: <input type="checkbox" id="fillbrush" value="yes"> &nbsp; -->
        Compare variable: <select class="form-control" id="backgraphlist2" name="backgraphlist2"></select>
        <br>
        <!-- <button class="btn btn-danger" type="button" id="addna">Set NA values</button> -->
        <!-- <button class="btn btn-primary" type="button" id="zoomin">Zoom in to selected region</button> -->
        <button class="btn btn-link" type="button" id="zoomreset">Reset zoom</button>
        (or double-click any plot to reset zoom)
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 text-left">
      <button class="btn btn-link" type="button" id="panback">
        << Previous two weeks
      </button>
    </div>
    <div class="col-md-4 text-center">
      <p>Jump to date range: </p>
      <select class="form-control" id="jumptodate" name="jumptodate">
      </select>
    </div>
    <div class="col-md-4 text-right">
      <button class="btn btn-link" type="button" id="panforward">
        <!-- Next four weeks >> -->
      </button>
    </div>
  </div>
</div>

</div>

<div class="row" id="graphs"></div>
<br><br>

<script src="static/js/graphs.js"></script>

<script>

var qaqc_options = '{{ qaqc_options|safe }}';

$('#dsite').selectize({
    delimiter: ',',
    persist: false,
    create: function(input) { return {value: input,text: input} }
});

var dyear = $('#dyear').selectize({
    delimiter: ',',
    persist: false,
    create: function(input) { return {value: input,text: input} }
});

var sitedict = {}
{% for sv, sn, va in sitedata %}
  sitedict['{{sv}}'] = '{{va}}'
{% endfor %}

$('#dsite').change(function(){

  $('#flagging').hide();

  //order site variables by importance for metabolism modeling, then alphabetically
  var sitevars = sitedict[$('select[name=site]').val()].split(',');
  var reference_vars = ['DO_mgL', 'satDO_mgL', 'DOsat_pct', 'WaterTemp_C',
    'Depth_m', 'Level_m', 'Discharge_m3s', 'Light_PAR', 'Light_lux'];

  var metabvars = [];
  for (var i = sitevars.length; i >= 0; --i) {
    if(reference_vars.includes(sitevars[i])){
      metabvars.push(sitevars.splice(i, 1)[0]);
    }
  }

  metabvars.sort(function(a, b) {
    return reference_vars.indexOf(a) - reference_vars.indexOf(b);
  });

  sitevars.sort(function(a, b) {
    return a.toLowerCase().localeCompare(b.toLowerCase());
  });

  sitevars = metabvars.concat(sitevars);

  //remove/reset previous display components
  $("#qaqc_vars").empty();
  $("#graphs").empty();
  $('#backgraphlist2').find('option').remove().end() //could use .empty()?
    .append('<option value="None" selected>None</option>');
  dyear[0].selectize.clearOptions();

  //show options
  $("#gobutton").show();
  $("#selectvarp").show();
  $("#selectyear").show();
  // $("#selectvarp").css('display', '');

  //populate variable checkboxes and year dropdown
  for (var i = 0; i < sitevars.length; ++i) {
    if(reference_vars.includes(sitevars[i])){
      $('#qaqc_vars').append('<input type="checkbox" id="variables" value="' +
        sitevars[i] + '" checked><span style="font-weight:bold">' +
        sitevars[i] + '</span><br>');
    } else {
      $('#qaqc_vars').append('<input type="checkbox" id="variables" value="' +
        sitevars[i] + '"> ' + sitevars[i] + '<br>');
    }
  }

  var dat = {}
  dat['site'] = $('#dsite').val();

  $.ajax({
    type: 'POST',
    url:'/_getqaqcyears',
    data: JSON.stringify(dat),
    contentType: 'application/json;charset=UTF-8',
    success: function(response){
      years = response.years;
      for(var i in years){
        dyear[0].selectize.addOption({'value':years[i], 'text':years[i]});
        if(i == 0){
          dyear[0].selectize.setValue(years[i]);
        }
      }
    },
    error: function(error){
      console.log(error);
    }
  });

});

var plotdates;
var alldata;
var plotstart;
var plotend;

//generate plots and additional asynchronous options
$(function(){
  $("button[name=qaqcsite]").click(function(){
    var dat = {}
    dat['site'] = $('select[name=site]').val();
    dat['vars'] = $('#variables:checked').map(function() { return this.value; }).get();
    dat['year'] = $('#dyear').val();

    $.ajax({
      type: 'POST',
      url:'/_getqaqc',
      data: JSON.stringify(dat),
      contentType: 'application/json;charset=UTF-8',
      success: function(response){
        $("#graphs").empty();
        plotdates = response.plotdates; // list of 4-week window boundaries
        alldata = JSON.parse(response.dat);
        plotstart = plotdates[1];
        plotend = plotdates[0];
        data = getdisplaydata(plotstart, plotend, alldata);

        //reformat plot dates as DD/MM/YYYY, remove leading zeros on D and M
        plotdates_reform = plotdates.slice(0) //copy mutable array
        for (var i = 0; i < plotdates_reform.length; ++i){
          splt = plotdates_reform[i].split('-')
          plotdates_reform[i] = splt[1].replace(/^0/, '') + '/' +
            splt[2].replace(/^0/, '') + '/' + splt[0]
        }

        $.ajax({
          type: 'POST',
          url: '/_outlierdetect',
          data: JSON.stringify(data),
          contentType: 'application/json;charset=UTF-8',
          success: function(response2){
            outliers = response2.outliers;
            variables = response.variables;
            sundat = JSON.parse(response.sunriseset);
            sundat.forEach(function(d){
              d.rise = parseDate(d.rise);
              d.set = parseDate(d.set);
            });
            flags = JSON.parse(response.flagdat);
            // flagtypes = JSON.parse(response.flagtypes);
            Plots(variables, data, flags, outliers, "qaqc");
            if($("#shownight").is(":checked")) { Sunlight(variables, sundat) };
            $('#flagging').show();

            //populate dropdown of potential comparison variables
            $('#backgraphlist2')
              .find('option').remove().end()
              .append('<option value="None" selected>None</option>');
            for (var i = 0; i < response.variables.length; ++i){
              $('#backgraphlist2').append('<option value="'+response.variables[i]+'">'+response.variables[i]+'</option>');
            }

            //populate dropdown of potential date ranges to jump to.
            //this part establishes the most recent range as the selected option
            default_range = plotdates_reform[1] + ' - ' + plotdates_reform[0]
            default_range_val = plotdates[1] + ' ' + plotdates[0]
            $('#jumptodate')
              .find('option').remove().end()
              .append('<option value="' + default_range_val +
                '" selected>' + default_range + '</option>');

            //and now the rest of the options
            for (var i = 1; i < plotdates_reform.length-1; ++i){
              daterange = plotdates_reform[i+1] + ' - ' + plotdates_reform[i]
              daterange_val = plotdates[i+1] + ' ' + plotdates[i]
              $('#jumptodate').append('<option value="' + daterange_val +
                '">' + daterange + '</option>');
            }

          },
          error: function(error){
            console.log(error);
          }
        });

      },
      error: function(error){
        console.log(error);
      }
    });
    return false;
  })
});

function async_replot(data){
  $.ajax({
    type: 'POST',
    url: '/_outlierdetect',
    data: JSON.stringify(data),
    contentType: 'application/json;charset=UTF-8',
    success: function(response){

      //pull in outliers, empty plots, replot
      outliers = response.outliers;
      $("#graphs").empty();
      Plots(variables, data, flags, outliers, "qaqc");
      if($("#shownight").is(":checked")) { Sunlight(variables, sundat) };

      //show panback if applicable
      if(plotstart != plotdates.slice(-1)[0]){
        $('#panback').html('<< Previous two weeks')
      } else {
        $('#panback').html('')
      }

      //show panforward if applicable
      if(plotend != plotdates[0]){
        $('#panforward').html('Next two weeks >>')
      } else {
        $('#panforward').html('')
      }

      //update selected value in date range dropdown
      $('#jumptodate').val(plotstart + ' ' + plotend)

    },
    error: function(error){
      console.log(error);
    }
  });
}

//for subsetting time series by desired window
function getdisplaydata(start, end, dat){
  stdt = Date.parse(start) //convert from YYYY-MM-DD to unix
  endt = Date.parse(end)
  pltdat = $(dat).filter(function(i, n){
    return Date.parse(n.DateTime_UTC) > stdt && Date.parse(n.DateTime_UTC) < endt
  })
  return $.makeArray(pltdat)
}

//zoomin
$('body').ready(function(){
  $('body').on("click", "#zoomin", function(){
    redrawPoints(zoom_in=true, sbrush=selectedBrush, reset=false)
  });
});

//zoomreset
$(function(){
  $("#zoomreset").click(function(){
    redrawPoints(zoom_in=true, sbrush=selectedBrush, reset=true)
  });
})

//compare variable
$(function(){
  $("#backgraphlist2").change(function () {

    if($(this).val() == 'None'){

      // remove previous graph and secondary axis
      d3.selectAll('.backgraph').select("path").remove()
      d3.selectAll('[id*=rightaxis]').attr("visibility", "hidden");
    } else {

      //plot polygon for secondary variable
      var backfill = this.value;
      for (var i = 0; i < variables.length; ++i) {
        BackGraph(backfill, variables[i], data, type='polygon');
      }
    }

  });
})

//panback
$(function(){
  $("#panback").click(function(){

    // if the start date is not the last date in the list (i.e. the oldest)
    if(plotstart != plotdates.slice(-1)[0]){
      plotend = plotstart;
      plotstart = plotdates[plotdates.indexOf(plotstart) + 1];
      // if(datna != null){
      //   data = getdisplaydata(plotstart,plotend,alldatna);
      // }else{
      data = getdisplaydata(plotstart, plotend, alldata);
      // }
      async_replot(data=data)
    }
  });
})

//panforward
$(function(){
  $("#panforward").click(function(){

    // if the end date is not the first date in the list
    if(plotend != plotdates[0]){
      plotstart = plotend;
      plotend = plotdates[plotdates.indexOf(plotend)-1];
      // if(datna != null){
      //   data = getdisplaydata(plotstart,plotend,alldatna);
      // }else{
      data = getdisplaydata(plotstart,plotend,alldata);
      // }
      async_replot(data=data)
    }
  });
})

//jumptodate
$(function(){
  $('#jumptodate').change(function(){
    daterange_val = this.value
    daterange_vals = daterange_val.split(' ')
    plotstart = daterange_vals[0]
    plotend = daterange_vals[1]
    data = getdisplaydata(plotstart, plotend, alldata);
    async_replot(data=data)
  })
})

function alertbox(alrt, msg){
  return '<div class="alert alert-dismissible alert-' + alrt + '">\
    <button class="close" data-dismiss="alert" aria-label="close">&times;</button>\
    ' + msg + '</div>'
}

// add flags for all highlighted points when yellow popup button is clicked
$('body').ready(function(){
  $('body').on("click", "#addflag2", function(){
    add_flag(red_points_only=false);
  });
});

// add flags for red highlighted points when red popup button is clicked
$('body').ready(function(){
  $('body').on("click", "#addflag_outl", function(){
    add_flag(red_points_only=true);
  });
});

// remove flags when green popup button is clicked
$('body').ready(function(){
  $('body').on("click", "#rmflag", function(){
    rm_flag();
  });
});

// highlight/unhighlight across all variables when "apply vertically..." is toggled
$('body').ready(function(){
  $('body').on("input", "#fillbrush", selection_manager);
});

function selection_manager() {

  var brsh = d3.brushSelection(d3.select("#" + selectedBrush).node())

  if (typeof $('#fillbrush')[0] != 'undefined') {

    var b_strt = x.invert(brsh[0]);
    var b_end = x.invert(brsh[1]);

    if( $('#fillbrush')[0].checked ){
      brushdown = true;
      d3.selectAll(".dot, .maybe_outl, .highlighted").classed("selected",
        function(d) { return b_strt <= d.date && d.date <= b_end; });

    } else {

      brushdown = false;
      d3.selectAll(".selected").classed("selected", false);
      d3.select("." + selectedBrush)
        .selectAll(".dot, .maybe_outl, .highlighted")
        .classed("selected", function(d) {
          return b_strt <= d.date && d.date <= b_end;
        });
    }
  }

  return false
}

function rm_flag() {

  if(undefined != selectedBrush){ // only do this if there is a brush selected

    s = d3.brushSelection(d3.select("#"+selectedBrush).node())
    dat = {}
    dat['site'] = $('select[name=site]').val();
    dat['startDate'] = x.invert(s[0]);
    dat['endDate'] = x.invert(s[1]);

    if(brushdown){
      dat['var'] = variables;
      b = d3.selectAll("svg").selectAll(".selected");
    } else {
      dat['var'] = [selectedBrush];
      b = d3.select("." + selectedBrush).selectAll(".selected");
    }

    b.classed('highlighted', function(d) {
      is_brushed = dat['startDate'] <= d.date && d.date <= dat['endDate'];
      return ! is_brushed;
    });

    b.classed('flagdot', function(d) {
      is_brushed = dat['startDate'] <= d.date && d.date <= dat['endDate'];
      return ! is_brushed;
    });

    brushdown = false;
    rmflag_ajax();

    return false;

  } else {

    $("#alerts_floating").append(alertbox('warning', 'No points selected.'));
  }
}

function add_flag(red_points_only) {

  if(undefined != selectedBrush){ // only do this if there is a brush selected

    if( $('#qaqc select').val() == null ){
      $("#alerts_floating").append(alertbox('danger','Please select a flag label.'));
      return false
    }

    s = d3.brushSelection(d3.select("#" + selectedBrush).node())
    dat = {}
    dat['site'] = $('select[name=site]').val();
    dat['startDate'] = x.invert(s[0]);
    dat['endDate'] = x.invert(s[1]);

    if(brushdown){
      dat['var'] = variables;
      b = d3.selectAll("svg").selectAll(".dot");
      if(red_points_only){
        b = b.filter('.maybe_outl');
      }
    } else {
      dat['var'] = [selectedBrush];
      b = d3.select("." + selectedBrush).selectAll(".selected");
      if(red_points_only){
        b = b.filter('.maybe_outl');
      }
    }

    b.classed('highlighted', function(d) {
      is_brushed = dat['startDate'] <= d.date && d.date <= dat['endDate'];
      return is_brushed;
    });

    brushdown = false;
    dat['comment'] = $("input[name=fcomment2]").val();
    dat['flagid'] = $("select[name=flagID2]").val();

    if(red_points_only){
      so = d3.selectAll(".highlighted").filter('.maybe_outl').data();
      counter = 0; //prepare for flag_ajax_serial recursion
      dat['startDate'] = so[counter].DateTime_UTC; //focus on first red point
      dat['endDate'] = so[counter].DateTime_UTC;
    }

    if (dat.flagid != null){

      if(red_points_only){
        flag_ajax_serial(counter, so);
      } else {
        flag_ajax_batch();
      }
      return false;

    } else {
      $("#alerts_floating").append(alertbox('warning','Please select a flag label.'));
    }

  } else {
    $("#alerts_floating").append(alertbox('warning','No points selected.'));
  }
}

//flag all selected points, the fast way
function flag_ajax_batch(){
  $.ajax({
    type: 'POST',
    url:'/_addflag',
    data: JSON.stringify(dat),
    contentType: 'application/json;charset=UTF-8',
    success: function(){
      $('.popupbox').remove();
      console.log("success");
    },
    error: function(error){
      $('.popupbox').remove();
      console.log(error);
    }
  });
}

//flag only selected points that are red. waits for callbacks
function flag_ajax_serial(counter, selection){
  $.ajax({
    type: 'POST',
    url:'/_addflag',
    data: JSON.stringify(dat),
    contentType: 'application/json;charset=UTF-8',
    success: function(){
      if (counter < so.length - 1){
        counter++;
        dat['startDate'] = so[counter].DateTime_UTC; //focus on next red point
        dat['endDate'] = so[counter].DateTime_UTC;
        flag_ajax_serial(counter, so);
      } else {
        $('.popupbox').remove();
      }
    },
    error: function(error){
      $('.popupbox').remove();
      console.log(error);
    }
  });
}

//remove all flags from selected points
function rmflag_ajax(){
  $.ajax({
    type: 'POST',
    url:'/_rmflag',
    data: JSON.stringify(dat),
    contentType: 'application/json;charset=UTF-8',
    success: function(){
      $('.popupbox').remove();
      console.log("success");
    },
    error: function(error){
      $('.popupbox').remove();
      console.log(error);
    }
  });
}

</script>

<!-- <script src="static/js/qaqc_helpers.js"></script> -->

{% endblock %}
