{% extends "layout.html" %}
{% block body %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form action="" method=post>
      <h3>Reset your password</h3>
      <div class="form-group">



        <p>
          A password reset link will be sent to the email you specify below.
          <!-- If this is not an appropriate email address, change it
          <a href="/email_change">
            here.
          </a> -->
        </p>
        <p>
          Please note that your password reset email will be from
          <strong>grdouser@gmail.com</strong>. Check your spam folder if it
          doesn't arrive as expected.
        </p>
        <!-- <input type="email" id="email" name="email" class="form-control"
          placeholder="Email" value="{{ request.form.username }}"
          required> -->
      </div>
      <div class="form-group">
        <input type="email" id="email" name="email" class="form-control"
          placeholder="Enter your email here" required>
      </div>
      <div class="form-group">
        <input type="email" id="email2" name="email2" class="form-control"
          placeholder="Enter email again" required>
      </div>
      <br>
      <!-- <button id="resetpass" type="link" value=reset class="btn btn-default btn-block">
        Send reset email
      </button> -->
      <!-- <a class="btn btn-md btn-default btn-block" href="/_reset_sp_pass">
        Send reset email
      </a> -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <div class="form-group">
        <button type="submit" class="btn btn-info btn-block">Send reset email</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
