{% extends "layout.html" %}

{% block chatbot %}
<!-- Start of Async Drift Code -->
<script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('s2rst4h926mg');
</script>
<!-- End of Async Drift Code -->
{% endblock %}

{% block headcode %}
<script src="static/hot/handsontable.full.js"></script>
<link rel="stylesheet" media="screen" href="static/hot/handsontable.full.css">
{% endblock %}

{% block body %}

<div id="loading"><span id="loading-image">
  <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i><span class="sr-only">Loading...</span>
</span></div>


<!-- <div class="embed-responsive embed-responsive-16by9"> -->
<!-- <video id="example_video_1" class="video-js vjs-default-skin" width="640" height="264"
src="file:///home/mike/git/streampulse/server_copy/sp/static/videos/test.mp4"
type='video/mp4' />
</video> -->
<!-- </div> -->

<!-- <video width="540" height="310" controls>
  <source src="/home/mike/git/streampulse/server_copy/sp/static/videos/test.mp4" type="video/mp4">
</video> -->


<!-- <ul class="nav nav-tabs">
  <li><a class="dropdown-toggle" data-toggle="tab" href="#fileformatting">File formatting</a></li>
  <li class="active"><a class="dropdown-toggle" data-toggle="tab" href="#fileupload">File upload</a></li>
</ul>
<div class="tab-content">
  <div id="fileformatting" class="tab-pane fade">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/howgqEyGIrA" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div id="fileupload" class="tab-pane fade in active">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LYJbGOx_4s0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<br> -->



<div class="row">
<div class="col-md-6 col-md-offset-3">
<h1>Upload Sensor Data</h1>
<p class="lead">
  Only select files <b>from a single site</b> with each upload.
</p>
<p>
  After clicking "Upload", you will be asked to match your variable names
  to those in our system. You will also have the option to make your data
  private. See the instructions below for more.
</p>
<hr>


<mark>General instructions:</mark> <button data-toggle="collapse" class="btn btn-default" data-target="#coreinst">Core sites</button> <button data-toggle="collapse" class="btn btn-default" data-target="#levinst">Leveraged sites</button>
<p class="text-muted">
  Core sites are those funded by the StreamPULSE grant.
  All other sites are known as leveraged sites.
</p>

<div id="coreinst" class="collapse" style='background-color: #F8F8FF'>
  <p class="lead"><b>StreamPULSE core sites</b> can upload raw datalogger files and/or pre-formatted data.</p>

  <h3>File naming</h3>
  <p>Name your upload file &ndash; <code>REGIONID_SITEID_YYYY-MM-DD_LOGGERID.xxx</code> &ndash; where</p>
  <ul>
    <li><code>REGIONID</code> is the 2-letter abbreviation for your country, state, province, etc.,
      <ul>
        <li>
          2-letter country codes can be found
          <a href='https://www.nationsonline.org/oneworld/country_code_list.htm'
          target="_bank" rel="noopener noreferrer">
            here.
          </a>
        </li>
      </ul>
    </li>
    <li><code>SITEID</code> is a unique abbreviation for the name of your site,</li>
    <li><code>YYYY-MM-DD</code> is the download date,</li>
    <li><code>LOGGERID</code> is the logger routing code,
      <ul>
        <li><code>CS</code>: CR1000 data file</li>
        <li><code>HD</code>: Hobo DO logger</li>
        <li><code>HW</code>: Hobo water pressure logger</li>
        <li><code>HA</code>: Hobo air pressure logger</li>
        <li><code>HP</code>: Hobo light pendant logger</li>
        <li><code>EM</code>: Eureka Manta logger</li>
        <li><code>XX</code>: Calibrated and formatted data (literally "_XX")</li>
      </ul>
    </li>
    <li>and <code>.xxx</code> is the file extension.
      <ul>
        <li>
          Extension must be <code>.dat</code> if <code>LOGGERID</code> is <code>CS</code>.
          Otherwise must be <code>.csv</code>.
        </li>
      </ul>
    <li><b>Note:</b> <code>LOGGERID</code> may include numbers if you have several of the same logger type at one site. For example, <code>LOGGERID</code> could be <code>CS4</code> or <code>HA12</code>.</li>
    <li><b>Example filename:</b> <code>NC_Eno_2017-12-06_HP.csv</code></li>
    <li><b>Example filename 2:</b> <code>AZ_LV_2018-02-20_XX.csv</code></li>
  </ul>

  <h3>Calibrated and formatted data</h3>
  <p>You can upload raw data (from the datalogger) <em>and/or</em> calibrated data (e.g., turbidity in NTU, water level or discharge, etc.) at the same time.</p>
  <p>If you modify a datalogger file to generate calibrated and derived variables, you must save it as a <code>.csv</code> with:</p>
  <ul>
    <li>the <code>_XX.csv</code> extension (see <code>LOGGERID</code> above),</li>
    <li>one header row followed directly by data rows, one row per timestamp,</li>
    <li>the <em>first column</em> as a Date-Time stamp converted to UTC standard time and formatted as: <code>YYYY-MM-DD HH:MM:SS</code>, and</li>
    <li>additional columns for each data variable.</li>
  </ul>

  <h3>Variables</h3>
  <p>Your variables (columns) can be named however you like, so long as their names do not include non-keyboard symbols like °. Potential variables include:</p>
  <ul>
    <li>Date-Time (UTC)</li>
    <li>DO (mg/L)</li>
    <li>Saturation DO (mg/L)</li>
    <li>Water Temperature (°C)</li>
    <li>Water Pressure (kPa)</li>
    <li>Air Temperature (°C)</li>
    <li>Air Pressure (kPa)</li>
    <li>Depth (m)</li>
    <li>Discharge (m3/s)</li>
    <li>Velocity (m/s)</li>
    <li>Light, PAR (μmol/m2/s)</li>
    <li>Light, lux</li>
    <li>Specific Conductivity (mS/cm or μS/cm)</li>
    <li>pH</li>
    <li>CDOM (ppb)</li>
    <li>CDOM (mV from sensor)</li>
    <li>Turbidity (NTU)</li>
    <li>Turbidity (mV from sensor)</li>
    <li>Nitrate (mg/L)</li>
    <li>CO2 (ppm)</li>
    <li>Chlorophyll-a (μg/L)</li>
  </ul>

  <h3>Date formatting help for calibrated files</h3>
  <p>Date-time stamps can be challenging to format.</p>
  <p>
    In <code>R</code> you can create a &#39;POSIXct&#39; object.
    Below is an example of how to convert a date-time string to the
    correct format:
  </p>
<pre>datetimeorig &lt;- &quot;8/31/16 13:24:16&quot; # can also be a vector

# In POSIX, 1. designate the format to match the original date time
#  and 2. specify the timezone... a full list can be viewed by running OlsonNames()
dtval &lt;- as.POSIXct(datetimeorig, format=&quot;%m/%d/%y %H:%M:%S&quot;, tz=&quot;EST&quot;)

# Then, just switch the display to UTC
attr(dtval,&quot;tzone&quot;) &lt;- &quot;UTC&quot;

# The output will be 2016-08-31T18:24:16Z
</pre>
  <p>The as.POSIXct function can convert any date-time format and any time zone. For details on all of the format structure codes, <a href="https://stat.ethz.ch/R-manual/R-devel/library/base/html/strptime.html">see the R documentation</a>.</p>
  <p>In <code>matlab</code> you can create a date time string with the numeric values for your timestamp, accounting for the UTC offset:</p>
<pre>time.UTC = -5; % UTC offset for EST
timeVec = [time.year time.month time.day time.hour-time.UTC time.min time.sec];
timeStr = datestr(timeVec,&#39;yyyy-mm-dd HH:MM:SS&#39;); % what you will save
</pre>
  <p>In <code>Excel</code> you can modify the timestamp with a formula based on the timezone offset:</p>
  <pre>=TimeCell+(tzOffsetHours/24)</pre>
  <p>Then modify the cell format of the new column with a &ldquo;custom&rdquo; type to match <code>YYYY-MM-DD HH:MM:SS</code> (<a href="https://support.office.com/en-us/article/Format-a-date-the-way-you-want-8e10019e-d5d8-47a1-ba95-db95123d273e">see documentation</a>).</p>
  <p>Be sure to put the modified date-time stamp as the first column in your exported <code>.csv</code>.</p>

  <h3>Saving files</h3>
  <p>Exporting a <code>.csv</code> from R is easy with the <code>readr</code> package, which saves files without row names and preserves the ISO date-time format:</p>
<pre>library(readr)
write_csv(datatable, path=&quot;NC_Eno_2016-10-13_XX.csv&quot;)
</pre>
<br>
<button data-toggle="collapse" class="btn btn-default" data-target="#coreinst">
  Hide instructions
</button>
<hr>
</div>


<div id="levinst" class="collapse" style='background-color: #F8F8FF'>
  <p class="lead"><b>Leveraged sites</b> need to format the data prior to upload as a <code>.csv</code> file with:</p>
  <ul>
  <li>the specified file name (see below),</li>
  <li>one header row followed directly by data rows, one row per timestamp,</li>
  <li>the first column as a Date-Time stamp converted to UTC standard time and formatted as: <code>YYYY-MM-DD HH:MM:SS</code>, and</li>
  <li>additional columns for each data variable.</li>
  </ul>
  <p>If you are uploading updated data from an existing site, please only include the most recent data (since your last upload) in your file &ndash; our system saves the full uploaded file each time and redundant data just use extra bandwidth.</p>

  <h3>Variables</h3>
  <p>Your variables (columns) can be named however you like, so long as their names do not include non-keyboard symbols like °.
The minimum set of variables for upload are:</p>
  <ul>
  <li>Date-Time (UTC)</li>
  <li>Water Temperature (°C)</li>
  <li>DO (mg/L)</li>
  <li>Saturation DO (mg/L) <em>and/or</em> Air Pressure (kPa)</li>
  <ul><li>Air pressure can be estimated automatically for continental U.S.A.</li></ul>
  <li>Depth (m) <em>and/or</em> Discharge (m3/s)</li>
  <ul><li>Depth may also be referred to as "level" or "stage".</li></ul>
  </ul>

  <p>Bonus variables include:</p>
  <ul>
  <li>Light, PAR (μmol/m2/s)</li>
  <li>Light, lux</li>
  <li>Specific Conductivity (mS/cm or μS/cm)</li>
  <li>pH</li>
  <li>CDOM (ppb)</li>
  <li>CDOM (mV from sensor)</li>
  <li>Turbidity (NTU)</li>
  <li>Turbidity (mV from sensor)</li>
  <li>Nitrate (mg/L)</li>
  <li>CO2 (ppm)</li>
  <li>Water Pressure (kPa)</li>
  <li>Air Temperature (°C)</li>
  <li>Air Pressure (kPa)</li>
  <li>Velocity (m/s)</li>
  <li>Chlorophyll-a (μg/L)</li>
  </ul>
  <p><em>Convert your variables to one of these formats prior to uploading (check your units!).</em></p>

  <h3>File naming</h3>
  <p>Name your upload file &ndash; <code>REGIONID_SITEID_YYYY-MM-DD.csv</code> &ndash; where</p>
  <ul>
  <li><code>REGIONID</code> is the name of your region (US: <a href="https://en.wikipedia.org/wiki/Federal_Information_Processing_Standard_state_code">FIPS state code</a>; International: <a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2">ISO 3166-1 alpha-2 code</a>),</li>
  <li><code>SITEID</code> is your chosen unique site name (only alphanumeric characters, any length you want), and</li>
  <li><code>YYYY-MM-DD</code> is the download date or the last date in the timeseries.</li>
  <li><b>Example filename:</b> <code>UK_Arun_2016-11-04.csv</code></li>
  </ul>

  <h3>Date formatting help</h3>
  <p>Date-time stamps can be challenging to format.</p>
  <p>
    In <code>R</code> you can create a &#39;POSIXct&#39; object. Below is an
    example of how to convert a date-time string to the correct format:
  </p>
<pre>datetimeorig &lt;- &quot;8/31/16 13:24:16&quot; # can also be a vector

# In POSIX, we 1. designate the format to match the original date time
#     and 2. specify the timezone... a full list can be viewed by running OlsonNames()
dtval &lt;- as.POSIXct(datetimeorig, format=&quot;%m/%d/%y %H:%M:%S&quot;, tz=&quot;EST&quot;)

# Then, just switch the display to UTC
attr(dtval,&quot;tzone&quot;) &lt;- &quot;UTC&quot;

# The output will be 2016-08-31T18:24:16Z
</pre>
  <p>The as.POSIXct function can convert any date-time format and any time zone. For details on all of the format structure codes, <a href="https://stat.ethz.ch/R-manual/R-devel/library/base/html/strptime.html">see the R documentation</a>.</p>
  <p>In <code>matlab</code> you can create a date time string with the numeric values for your timestamp, accounting for the UTC offset:</p>
<pre>time.UTC = -5; % UTC offset for EST
timeVec = [time.year time.month time.day time.hour-time.UTC time.min time.sec];
timeStr = datestr(timeVec,&#39;yyyy-mm-dd HH:MM:SS&#39;); % what you will save
</pre>
  <p>In <code>Excel</code> you can modify the timestamp with a formula based on the timezone offset:</p>
<pre>=TimeCell+(tzOffsetHours/24)</pre>
  <p>Then modify the cell format of the new column with a &ldquo;custom&rdquo; type to match <code>YYYY-MM-DD HH:MM:SS</code> (<a href="https://support.office.com/en-us/article/Format-a-date-the-way-you-want-8e10019e-d5d8-47a1-ba95-db95123d273e">see documentation</a>).</p>
  <p>Be sure to put the modified date-time stamp as the first column in your exported <code>.csv</code>.</p>

  <h3>Saving files</h3>
  <p>Exporting a <code>.csv</code> from R is easy with the <code>readr</code> package, which saves files without row names and preserves the ISO date-time format:</p>
<pre>library(readr)
write_csv(datatable, path=&quot;NC_Eno_2016-10-13.csv&quot;)
</pre>
<br>
<button data-toggle="collapse" class="btn btn-default" data-target="#levinst">
  Hide instructions
</button>
<hr>
</div>
<br>

<mark>Please read the</mark>
<button data-toggle="collapse" class="btn btn-default" data-target="#revision">
  data revision instructions
</button>
<mark>before checking the box below.</mark>
<br>
<div id='revision' class='collapse' style='background-color: #F8F8FF'>
  <br>
  <p>
    To revise previously uploaded data, you must upload a revised file with the
    same name as the original. All data previously associated with that file
    will be replaced in our database. The original file will still be stored
    on our server, however.
  </p>
  <p><u>Here's how it works:</u></p>
  <ol>
    <li>Make a local copy of the CSV or DAT file that's being revised.</li>
    <li>
      Modify the name of the copy that will <strong>not</strong> receive data
      edits. You may want to call it something like
      <code>AA_BB_2017-01-01_XX_unrevised.csv</code>.
    </li>
    <li>
      Change erroneous data in the other copy. Make sure its name is
      identical to the originally uploaded file.
    </li>
    <li>Upload this revised copy. Make sure to check the box below.</li>
  </ol>
  <p>
    <strong>NOTICE:</strong> Currently there can be unintended consequences if
      you upload the same variable, from the same place and time, in multiple
      files (i.e. files with different names). We realize it can be inconvenient
      to locate original files in order to revise StreamPULSE data, but at
      present that is the only way. We will
      enable more flexible data revision in a future update.
  </p>
  <p><strong>If you have any questions</strong>, please use the chatbox
    in the bottom right, or
    <a href="mailto:vlahm13@gmail.com">send us an email.</a>
  </p>
  <hr>
</div>


<br>
<form action="" method=post enctype=multipart/form-data>
  <div class="form-group">
    Select file(s) here:
    <input type="file" class="form-control-file" name=file multiple>
    <!-- <input type="file" class="form-control-file" name=file aria-describedby="fileHelp" multiple> -->
    <!-- <small id="fileHelp" class="form-text text-muted">Select files to upload.</small> -->
  </div>
  <br>
  <input type="checkbox" name="replace">
  Check this box if revising (i.e. replacing) an existing file.
  <br>
  <!-- <small class="form-text text-muted">(note: this is a bit slower, so don't use it if this is an initial upload)</small> -->
  <br><br>
  <button id="upx" type="submit" value=Upload class="btn btn-primary btn-block">Upload</button>
</form>
<br><br>

<!--<hr>
<br>
<h2>Additional formatting and upload help</h2>
<ul class="nav nav-tabs">
  <li><a class="dropdown-toggle" data-toggle="tab" href="#fileformatting">File formatting</a></li>
  <li class="active"><a class="dropdown-toggle" data-toggle="tab" href="#fileupload">File upload</a></li>
</ul>
<div class="tab-content">
  <div id="fileformatting" class="tab-pane fade">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/howgqEyGIrA" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div id="fileupload" class="tab-pane fade in active">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LYJbGOx_4s0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<br>-->


</div></div>


<!--
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Upload Manual Data</h1>
    <button data-toggle="collapse" class="btn btn-block" data-target="#manualdata">Expand manual data form</button>
  </div>
</div>
<br>

<div id="manualdata" class="collapse">
  <div class="row"><div class="col-xs-12"><div id="datatemp"></div></div></div><br><br>
  <div class="row"><div class="col-md-6 col-md-offset-3">
    <select placeholder="Choose a site" id="usite" name="site">
      <option value="">Choose a site</option>
      {#% for sv, sn in sites %#}
      <option value="{#{sv}#}">{#{sn}#}</option>
      {#% endfor %#}
    </select>
    <textarea class="form-control" rows="4" placeholder="Enter field notes"></textarea><br>
    <button class="btn btn-primary btn-block" name="submit" type="submit" id="addmanualdata">Add data</button>
  </div></div><br><br>
</div>
-->

<script>
$('#usite').selectize({
    delimiter: ',',
    persist: false,
    create: function(input) { return {value: input,text: input} }
});

var hot;
var container = document.getElementById('datatemp');
var nrow = 5;
// var variables = ['DO_mgl','var2','var3'];
var variables = {{ variables|safe }}
variables.push("")

var wid = $(".container").width();

$(document).ready(function () {
  var data = [[]];
  hot = new Handsontable(container,
  {
    data: data,
    stretchH: 'none',
    colWidths: [wid/3, wid/3, wid/3],
    minRows: nrow,
    minCols: 3,
    minSpareRows: 1,
    colHeaders: ['DateTime_UTC (YYYY-MM-DD hh:mm)','Variable','Value'],
    columns: [
    	{data:'date', validator: /^([0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}(:[0-9]{2}(.[0-9]*)?)?)$/, allowInvalid: false},
	    {data:'variable', type:'dropdown', source: variables},
			{data:'value', validator: /^([+-]?([0-9]*)(\.([0-9]+))?)$/, allowInvalid: false}
    ],
    contextMenu: true
  });
});

function alertbox(alrt,msg){
  return '<div class="alert alert-dismissible alert-'+alrt+'">\
    <button class="close" data-dismiss="alert" aria-label="close">&times;</button>\
    '+msg+'</div>'
}

$(function(){
  $("#addmanualdata").click(function(){
    dat = {}
    dat['site'] = $('select[name=site]').val();
    dat['data'] = hot.getData(); //gets JSON
    dat['fieldnotes'] = $('textarea').val();
    console.log(dat);
    $.ajax({
      type: 'POST',
      url:'/_addmanualdata',
      data: JSON.stringify(dat),
      contentType: 'application/json;charset=UTF-8',
      success: function(response){
        console.log("success")
        hot.updateSettings({data:[]})
        $("#alerts").append(alertbox('success','Added your observations.'))
      },
      error: function(error){
        console.log(error);
      }
    });
    return false;
  });
})


</script>



<script>
$(function(){
  $("#upx").click(function(){
    $('#loading').show();
  })
});
</script>

{% endblock %}
