{% extends "layout.html" %}

{% block links %}
<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" rel="stylesheet" media="screen">
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <section class = "map_container">
        <!-- <iframe id="form-iframe" src="http://127.0.0.1:5000/map" -->
        <iframe id="form-iframe" src="https://data.streampulse.org/map"
          style="width:100%; height:450px; border:none; margin:0; padding:0; overflow:hidden; position:static">
        </iframe>
        <!-- <iframe id="form-iframe" src="http://127.0.0.1:5000/map"
          style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden;">
        </iframe> -->
      </section>

    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class='text-center' style='border-style:solid; border-width:thin; border-color:gray; display:inline-block'>

        <h4 class='text-left text-primary' style='margin-left:10px; margin-right:10px'>
          Select a data source to view its site data below
        </h4>
        <div class="radio text-left" style='margin-left:10px'>
          <label><input type="radio" name="optradio" value='sp' checked>StreamPULSE</label>
        </div>
        <div class="radio text-left" style='margin-left:10px'>
          <label><input type="radio" name="optradio" value='pow'>
            Powell Center metabolism synthesis
            [<a href='https://www.nature.com/articles/sdata2018292' target="_blank"
            rel="noopener noreferrer">link</a>]
          </label>
        </div>
        <div class="radio text-left" style='margin-left:10px; margin-right:10px'>
          <label><input type="radio" name="optradio" value='neon'>
            NEON [<a href='https://data.neonscience.org/home' target="_blank"
            rel="noopener noreferrer">link</a>]
          </label>
        </div>

      </div>
    </div>
  </div>
</div>
<br><br> -->

<div class="container">
  <div class="row">
    <div class="col-md-12 text-left">
        <input id='export' type='button' class="btn btn-success btn-sm"
        value='Export table as CSV'>
    </div>
  </div>
</div>
<br>

<div id="site_table"></div>

<!-- <div id='sp' name='disp_table'>
  {#{sp|safe}#}
</div>
<div id='pow'  name='disp_table' style='display:none'>
  {{powell|safe}}
</div>
<div id='neon'  name='disp_table' style='display:none'>
  {{neon|safe}}
</div> -->

<br><br>

<script>
  $('input[name=optradio]').change(function(){
    var selected_table = $('input[name=optradio]:checked').val();
    $('div[name=disp_table]').attr('style', 'display:none');
    $('#' + selected_table).attr('style', 'display:');
  });

  var container = document.getElementById('site_table');
  var hot = new Handsontable(container, {
    data: {{sitedata|safe}},
    columns: [
      {},{},{},
      {type: 'numeric'}, //lat
      {type: 'numeric'}, //lon
      {},{},{},
      {type: 'numeric'}, //embargo
      {type: 'text'}, //gage
      {type: 'date', dateFormat: 'YYYY-MM-DD'}, //firstrecord
      {type: 'date', dateFormat: 'YYYY-MM-DD'}, //last
      {}
    ],
    columnSorting: true,
    rowHeaders: true,
    colHeaders: {{header|safe}},
    filters: true,
    // filters: ['eq', 'neq', 'gt', 'gte', 'lt', 'lte', 'between', 'contains',
    //   'not_contains', 'not_empty'],
    readOnly: true,
    comments: false,
    dropdownMenu: ['filter_by_condition', 'filter_operators', 'filter_by_condition2',
      'filter_by_value', 'filter_action_bar'],
    licenseKey: 'non-commercial-and-evaluation'
  });

  $('#export').click(function(){
    const exportPlugin = hot.getPlugin('exportFile');
    exportPlugin.downloadFile('csv', {filename: 'streampulse_sitedata'});
  })

</script>

{% endblock %}
