<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>StreamPULSE</title>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
      table, td, th {
        border: none;
      }
      table.pretty {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      td.pretty, th.pretty {
        border: 1px solid #A9A9A9;
        text-align: left;
        padding: 8px;
      }
      tr.pretty:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>

    {{current_user.is_authenticated|pprint}}
    {{current_user.username|pprint}}
    {% if current_user.is_authenticated %}
      {{dats|safe}}
    {% else %}
      {{dats_obs|safe}}
    {% endif %}

  </body>
</html>
