{% extends "layout.html" %}

{% block body %}

<!-- <p class="text-center"><a class="btn btn-lg btn-primary" href="https://docs.google.com/document/d/1D0DcSsNAPx_kfFECg23AEwNw5LTtx2_Fev-jKCXfk6Q/edit?usp=sharing">Before modeling stream metabolism...</a></p> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
      <p class='lead'>The upload process differs by mode of data collection.</p>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 text-right">
      <button class="btn btn-primary btn-lg" type="button" id="series_upload">
        Upload sensor data
      </button>
    </div>
    <div class="col-md-6 text-left">
      <button class="btn btn-success btn-lg" type="button" id="grab_upload">
        Upload manually sampled data
      </button>
    </div>
  </div>
</div>

{% endblock %}
