{% extends "layout.html" %}

{% block chatbot %}
<!-- Start of Async Drift Code -->
<script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('s2rst4h926mg');
</script>
<!-- End of Async Drift Code -->
{% endblock %}

{% block body %}

<form id="choosecolumns" class="form-horizontal" method="POST" action="/upload_confirm">

  <div class="row"><div class="col-md-8 col-md-offset-2">

  <p><i>Uploading {{filenames|length}} files:</i><br>
  {% for f in filenames %} {{f}} {% endfor %}</p>

  {% if replacing %}
    <input type="hidden" name="replacing" value="yes">
  {% else %}
    <input type="hidden" name="replacing" value="no">
  {% endif %}

  {% if existing %}
    <input type="hidden" name="existing" value="yes">
  {% else %}
    <p class="lead">{{sitenm}} looks like a new site...
      We need to get some more information before we can process it (you only need to do this part once):</p>
    <div class="input-group input-group-sm">
      <span class="input-group-addon">Full site name</span>
      <input type="text" class="form-control" name="sitename" aria-describedby="Site name" maxlength="50">
    </div><br>
    <i>Coordinates, decimal degrees:</i>
    <div class="input-group input-group-sm">
      <span class="input-group-addon">Latitude</span>
      <input type="text" class="form-control" name="lat" placeholder="e.g., 36.00" aria-describedby="Latitude" required>
      <span class="input-group-addon">Longitude</span>
      <input type="text" class="form-control" name="lng" placeholder="e.g., -78.97" aria-describedby="Longitude" required>
    </div><br>
    <div class="input-group input-group-sm">
      <span class="input-group-addon">Associated USGS gauge ID</span>
      <input type="text" class="form-control" name="usgs" placeholder="Site ID (if none, leave blank), e.g., 02085000" aria-describedby="USGS site #" maxlength="20">
    </div><br>

    <div>
      <p><b>Site metadata:</b> Characteristics, instruments, dates, personnel, any other information that you'd like to share with others about the data.</p>
      <textarea class="form-control" rows="5" name="metadata" placeholder="Site characteristics, instruments, etc. Anything that you want to share with people when they download the data."></textarea>
    </div><br>

    <div class="input-group input-group-sm">
      <span class="input-group-addon">Data set contact name</span>
      <input type="text" class="form-control" name="contactName" aria-describedby="Contact name" maxlength="50">
      <span class="input-group-addon">Contact email</span>
      <input type="text" class="form-control" name="contactEmail" aria-describedby="Contact email" maxlength="255">
    </div><br>

    <i>Data sharing policy:</i>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="policy" required> I agree to the <a href="policy">StreamPULSE data policy</a> and confirm that this data will be shared under that policy.
      </label>
    </div>

    <!-- <div class="radio"><label>
      <input type="radio" name="policy" id="streampulse" value="streampulse" checked> <u>StreamPULSE open data license</u>:
        Others will be allowed to publicly share (copy, distribute, and use), create (produce works), and adapt (modify, transform, and build upon) this data with attribution given to the StreamPULSE project.
    </label></div>
    <div class="radio"><label>
      <input type="radio" name="policy" id="embargo" value="embargo"> <u>Embargoed data license</u>:
        This data will remain private (not publicly shared online or with other StreamPULSE members) for one year from the upload date (today). After one year, the embargo will lift and the StreamPULSE open data license will take effect.
    </label></div> -->
    <input type="hidden" name="existing" value="no">
    <br><hr>
  {% endif %}

  <p class="lead">Variable matching</p>
  <p>Match <u>your columns (on the left)</u> with the <u>database variables (in the dropdown)</u>. To exclude a column, leave the dropdown blank. The dropdowns will automatically populate with your last selection.</p>
  <p><b>Please double check your column specifications!</b> If you duplicate variables in the dropdowns our database will consider those columns as the same variable (and average them by date).</p>
  </div></div>
  <div class="row"><div class="col-md-6 col-md-offset-3">
    <p class="text-right">Don't see your variables? <a href="mailto:aaron.berdanier@gmail.com">Send us an email!</a></p>
    <input type="hidden" name="tmpfile" value="{{tmpfile}}">
    <input type="hidden" name="cdict" value="">
    {% for c in columns %}
    <div class="input-group input-group-sm">
      <span class="input-group-addon">{{c}}</span>
      <select class="form-control" name="{{c}}">
        {% if c in cdict.keys() %}
          <option value=""></option>
          {% for v in variables %}
            {% if v == cdict[c] %}
            <option value="{{v}}" selected>{{v}}</option>
            {% else %}
            <option value="{{v}}">{{v}}</option>
            {% endif %}
          {% endfor %}
        {% else %}
          <option selected value=""></option>
          {% for v in variables %}
          <option value="{{v}}">{{v}}</option>
          {% endfor %}
        {% endif %}
      </select>
    </div><br>
    {% endfor %}
    <button name="columnin" type="submit" class="btn btn-primary btn-block">Submit</button>
  </div></div>
</form>
<br>
<div class="row"><div class="col-md-6 col-md-offset-3">
  <form id="cancelcols" class="form-horizontal" method="POST" action="/upload_cancel">
    <input type="hidden" name="ofiles" value="{{ filenames|join(',') }}">
    <input type="hidden" name="tmpfile" value="{{tmpfile}}">
    <button name="cancel" class="btn btn-link btn-block">Cancel</button>
  </form>
</div></div>




<script>
function alertbox(alrt,msg){
  return '<div class="alert alert-dismissible alert-'+alrt+'">\
    <button class="close" data-dismiss="alert" aria-label="close">&times;</button>\
    '+msg+'</div>'
}
$(function(){
  $('button[name=columnin]').click(function() {
    cvals = [];
    $("#choosecolumns").find("select").each(function(){
      if($(this).val()!=""){
        cvals.push( $(this).serializeArray()[0] )
      }
    });
    //cdict = JSON.stringify($("#choosecolumns").find("select").serializeArray());
    cdict = JSON.stringify(cvals);
    $('#choosecolumns input[name=cdict]').val( cdict );
  });
})

</script>

{% endblock %}
