{% extends "layout.html" %}

{% block body %}

<form id="choosecolumns" class="form-horizontal" method="POST" action="/upload_confirm">

  <div class="row"><div class="col-md-8 col-md-offset-2">

  <p><i>Uploading {{filenames|length}} file(s):</i><br>
  {% for f in filenames %} {{f}} {% endfor %}</p>

  {#% if replace %#}
  <input type="hidden" name="replace" value={{replace}}>
  {#% else %#}
    <!-- <input type="hidden" name="replacing" value="no"> -->
  {#% endif %#}

  {% if existing %}
    <input type="hidden" name="existing" value="yes">
  {% else %}
    <p class="lead">
      Please provide metadata for new site: {{sitenm}}
    </p>
    <div class="input-group input-group-sm">
      <span class="input-group-addon">Full site name</span>
      <input type="text" class="form-control" name="sitename"
      aria-describedby="Site name" maxlength="50" required>
    </div>
    <p class='text-muted text-danger'>
      Only alphanumeric characters (any alphabet), spaces, dashes, and periods allowed.
    </p>
    <br>
    <div class="input-group input-group-sm">
      <span class="input-group-addon">Latitude</span>
      <input type="text" class="form-control" name="lat" placeholder="decimal degrees, e.g. 36.01" aria-describedby="Latitude" required>
      <span class="input-group-addon">Longitude</span>
      <input type="text" class="form-control" name="lng" placeholder="decimal degrees, e.g. -78.97" aria-describedby="Longitude" required>
    </div><br>
    <div class="input-group input-group-sm">
      <span class="input-group-addon">Associated USGS gage ID (optional)</span>
      <input type="text" class="form-control" name="usgs" placeholder="e.g. 02085000" aria-describedby="USGS site #" maxlength="20">
    </div><br>

    <div>
      <p>
        <strong>Describe site</strong>
        (characteristics, instruments, dates, personnel, etc.)
      </p>
      <textarea class="form-control" rows="5" name="metadata" required></textarea>
      <p class='text-muted'>
        You may want to copy this text before clicking Submit,
        so you don't have to retype it in case of an error.
      </p>
    </div>
    <br>

    <strong>
      Site contact (name and email will be displayed to registered users on sitelist page)
    </strong>
    <div class="input-group input-group-sm">
      <span class="input-group-addon">Full name</span>
      <input type="text" class="form-control" name="contactName"
      aria-describedby="Contact name" maxlength="50" required>
      <span class="input-group-addon">Email address</span>
      <input type="text" class="form-control" name="contactEmail"
      aria-describedby="Contact email" maxlength="255" required>
    </div>
    <p class='text-muted text-danger'>
      Only alphanumeric characters (any alphabet), spaces, and <code>-@._'~</code> allowed.
    </p>
    <br>

    <p>
      <strong>Data embargo</strong>
    </p>
    <p>
      We will not make data from this study site publicly available
      for the number of years you specify below. Only you and any users to whom
      you explicitly grant permission can view, download, clean,
      or in any way access data or model outputs from this study site.
    </p>
    <div class="col-md-6">
      <select id="embargo" name="embargo">
        <option value="0">No embargo</option>
        <option value="1">1 year</option>
        {% for i in range(2, 6) %}
          <option value="{{i}}">{{i}} years</option>
        {% endfor %}
      </select>
    </div>
    <br><br><br><br>

    <strong>Data sharing policy</strong>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="policy" required>
        I agree to the <a href="policy">StreamPULSE data policy</a>
        and confirm that this dataset will be shared under that policy.
      </label>
    </div>

    <!-- <div class="radio"><label>
      <input type="radio" name="policy" id="streampulse" value="streampulse" checked> <u>StreamPULSE open data license</u>:
        Others will be allowed to publicly share (copy, distribute, and use), create (produce works), and adapt (modify, transform, and build upon) this data with attribution given to the StreamPULSE project.
    </label></div>
    <div class="radio"><label>
      <input type="radio" name="policy" id="embargo" value="embargo"> <u>Embargoed data license</u>:
        This data will remain private (not publicly shared online or with other StreamPULSE members) for one year from the upload date (today). After one year, the embargo will lift and the StreamPULSE open data license will take effect.
    </label></div> -->
    <input type="hidden" name="existing" value="no">
    <br><hr>
  {% endif %}

  <p class="lead">Variable name matching</p>
  <p>
    Match your variable names below with their official names in the database
    (selected from the dropdown menus). To exclude a variable, leave its
    dropdown blank. The dropdowns will automatically populate with your previous
    selections.
  </p>
  <p>
    If you're revising an existing data file (or files),
    remember that the previous version(s) will be replaced with whatever you
    upload now, assuming the file name hasn't changed. So, to "delete" a
    variable previously uploaded in error, you can simply leave its dropdown
    blank when replacing the old file.
  </p>
  <p>
    Note that all files remain stored
    on our server, even if you replace their contents in the database.
  </p>
  <p>
    Click <mark>Cancel</mark> below to go back to the previous page.
  </p>
  <p>
    <strong>Please double check all fields below</strong>, even if they were
    populated automatically!
  </p>
  <br>


</div></div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p class="text-center">
        Don't see your variable names?
        <a href="mailto:vlahm13@gmail.com">Send us an email!</a>
      </p>
      <input type="hidden" name="tmpfile" value="{{tmpfile}}">
      <input type="hidden" name="cdict" value="">

      {% for c in columns %}
        <div class="input-group input-group-sm">

        {% if c == columns[0] %}
          <div data-toggle='tooltip' title="Remember, if you're not uploading an
          automatically formatted logger file (i.e. if your LOGGERID isn't one of
          CS, EM, HA, HD, HP, HW), it's assumed that the first column
          in your CSV contains date-time stamps converted to UTC. That column's name
          may have been changed here."
          data-placement='left'>
            <i class="fa fa-question-circle-o" style="color: blue"></i>
          </div>
        {% endif %}

        <span class="input-group-addon">{{c}}</span>
        <select class="form-control" name="{{c}}">

        <!-- {#% if c == "DateTime_UTC" %#}
          <option value="{{c}}" selected>{{c}}</option> -->

        {% if c in cdict.keys() %}
          <option value=""></option>
          {% for v in variables %}
            {% if v == cdict[c] %}
              <option value="{{v}}" selected>{{v}}</option>
            {% else %}
              <option value="{{v}}">{{v}}</option>
            {% endif %}
          {% endfor %}
        {% else %}
          <option selected value=""></option>
          {% for v in variables %}
            <option value="{{v}}">{{v}}</option>
          {% endfor %}
        {% endif %}
      </select>
    </div><br>
    {% endfor %}
  </div></div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button name="columnin" type="submit" class="btn btn-primary btn-block">
        Submit
      </button>
    </div>
  </div>
</form>
<br>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form id="cancelcols" class="form-horizontal" method="POST" action="/upload_cancel">
      <input type="hidden" name="ofiles" value="{{ filenames|join(',') }}">
      <input type="hidden" name="tmpfile" value="{{tmpfile}}">
      <button name="cancel" class="btn btn-danger btn-block">Cancel</button>
    </form>
  </div>
</div>
<br><br>



<script>

$('#embargo').selectize({
    delimiter: ',',
    persist: false,
    create: function(input) {
        return {
            value: input,
            text: input
        }
    }
});

function alertbox(alrt, msg){
  return '<div class="alert alert-dismissible alert-' + alrt + '">\
    <button class="close" data-dismiss="alert" aria-label="close">&times;</button>\
    ' + msg + '</div>'
}

$(function(){
  $('button[name=columnin]').click(function() {
    cvals = [];
    $("#choosecolumns").find("select:not(#embargo)").each(function(){
      if($(this).val() != ""){
        cvals.push( $(this).serializeArray()[0] )
      }
    });
    //cdict = JSON.stringify($("#choosecolumns").find("select").serializeArray());
    cdict = JSON.stringify(cvals);
    $('#choosecolumns input[name=cdict]').val( cdict );
  });
})

</script>

<script type="text/javascript">
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
  });
</script>

{% endblock %}
