{% extends "layout.html" %}
{% block body %}

<div class="row"><div class="col-md-6 col-md-offset-3">
  <h1>Visualize Data</h1>
  <br>
  <!-- <p class="lead">Use this interface to rapidly preview data and view provisional model estimates.<p> -->

  <form id="viz">
    <select placeholder="Choose a site" id="dsite" name="site">
      <option value="">Choose a site</option>
      {% for sv, sn, sd, ed, va in sites %}
      <option value="{{sv}}">{{sn}}</option>
      {% endfor %}
    </select>
    <br>
    <input class="form-control" type="text" id="datepicker" name="daterange" value="" placeholder="Select date range"><br>
    Select variables:<br>
    <div id="viz_vars"></div><br>
    <button name="getviz" class="btn btn-primary btn-block">View</button>
  </form>
</div></div>
<br>

<!--
<button name="vizsite" class="btn btn-primary btn-block">Select</button>
<div class="row"><div class="col-md-6 col-md-offset-3">
  <form id="viz" class="form-horizontal">
    <div class="input-group input-group-sm">
      <span class="input-group-addon">Choose a site</span>
      <select class="form-control" name="site">
        {% for s in sites %}
        <option value="{{s}}">{{s}}</option>
        {% endfor %}
      </select>
      <span class="input-group-btn">
        <button name="vizsite" class="btn btn-primary">Select</button>
      </span>
    </div><br>
  </form>
</div></div>

<div class="row" id="vizspecs"><div class="col-md-6 col-md-offset-3">
  <form id="viz_specs" class="form-horizontal">
    Choose dates:<br>
    <input type="hidden" name="site" value="">
    <input type="hidden" name="variables" value="">
    <input class="form-control" type="text" id="datepicker" name="daterange" value="" placeholder="Select date range"><br>
    Select variables:<br>
    <div id="viz_vars"></div><br>
    <button name="getviz" class="btn btn-primary btn-block">View</button>
  </form>
</div></div>
-->

<hr>

<div id="graphcontrol" class="text-center">
  <div class="form-inline">
  Show local night-time: <input type="checkbox" id="shownight" value="no"> &nbsp;
  <!-- Aggregation: <select class="form-control" id="timescale" name="timescale">
    <option value="15m" selected>15 minutes (default)</option>
    <option value="1h">1 hour</option>
    <option value="1d">1 day</option></select> &nbsp; -->
  Compare sensor variable:
  <select class="form-control" id="backgraphlist" name="backgraphlist">
  </select> &nbsp
  Compare other variable:
  <select class="form-control" id="backgraphlist_grab" name="backgraphlist_grab">
  </select>
</div>
</div>

<div id="graphs"></div>

<script src="static/js/graphs.js"></script>

<script>
$('#dsite').selectize({
    delimiter: ',',
    persist: false,
    create: function(input) {
        return {
            value: input,
            text: input
        }
    }
});

var sitedict = {}
{% for sv, sn, sd, ed, va in sites %}
  sitedict['{{sv}}'] = {dates:['{{sd}}','{{ed}}'], vars:"{{','.join(va)}}"}
{% endfor %}
$('#dsite').change(function(){
  //http://www.daterangepicker.com/
  $('#graphcontrol').hide();
  var siteinfo = sitedict[$('select[name=site]').val()];
  var sitedates = siteinfo['dates']
  $('#datepicker').daterangepicker({
    locale: {format: 'YYYY-MM-DD', separator: ' to '},
    startDate: sitedates[0],
    endDate: sitedates[1],
    minDate: sitedates[0],
    maxDate: sitedates[1],
    autoApply: true,
    opens: 'left'
  });

  $('#start_date').text( '"'+$("#datepicker").data('daterangepicker').startDate.format('YYYY-MM-DD')+'"' );
  $('#end_date').text( '"'+$("#datepicker").data('daterangepicker').endDate.format('YYYY-MM-DD')+'"' );

  var sitevars = siteinfo['vars'].split(",")
  $("#graphs").empty();
  $("#viz_vars").empty();
  $('#backgraphlist')
      .find('option')
      .remove()
      .end()
      .append('<option value="None" selected>None</option>');
  for (var i = 0; i < sitevars.length; ++i) {
      $('#viz_vars').append('<input type="checkbox" id="variables" value="'+sitevars[i]+'" checked> '+sitevars[i]+'<br>');
      // add stuff to dropdown
      $('#backgraphlist').append('<option value="'+sitevars[i]+'">'+sitevars[i]+'</option>');
  }

  update_grabvars(regionsite=$('select[name=site]').val(),
    startdate=sitedates[0], enddate=sitedates[1])

});

function update_grabvars (regionsite, startdate, enddate) {

  // $.getJSON('/_getgrabvars',
  //   {regionsite: regionsite, startdate: startdate, enddate: enddate},
  //   function(data) {
  //   data.result;
  // });

  $.ajax({
    type: 'POST',
    url:'/_getgrabvars',
    data: JSON.stringify([regionsite, startdate, enddate]),
    contentType: 'application/json;charset=UTF-8',
    success: function(response){
      sitevars_grab = response.variables;
      sitevarsunits_grab = response.varsandunits;

      //empty grabvar dropdown and replace the None option
      $('#backgraphlist_grab')
          .find('option').remove().end()
          .append('<option value="None" selected>None</option>');

      for (var i = 0; i < sitevars_grab.length; ++i) {
          // $('#viz_vars_grab').append('<input type="checkbox" id="variables_grab" value="' +
          //   sitevars_grab[i] + '" checked> ' + sitevars_grab[i] + '<br>');

          // add variables to grab dropdown
          $('#backgraphlist_grab').append('<option value="' + sitevars_grab[i] +
            '">' + sitevarsunits_grab[i] + '</option>');
      };

    },
    error: function(error){
      console.log(error);
    }
  });

  return false
};

$('#datepicker').on('apply.daterangepicker', function(ev, picker) {
  $('#start_date').text( '"'+picker.startDate.format('YYYY-MM-DD')+'"' );
  $('#end_date').text( '"'+picker.endDate.format('YYYY-MM-DD')+'"' );
});


// var margin = {top: 40, right: 40, bottom: 40, left: 40},
//     width = $("#graphs").width() - margin.left - margin.right,
//     height = 250 - margin.top - margin.bottom;
// var parseDate = d3.utcParse("%Y-%m-%dT%H:%M:%S.%LZ");
// var x = d3.scaleUtc().range([0, width]),
//     y = d3.scaleLinear().range([height, 0]),
//     xAxis = d3.axisBottom().scale(x).ticks(6);
// var data;
// var variables;
// var sundat;
// var flags;
//
// function Plots(variables, data, flags){
//   data.forEach(function(d){ d.date = parseDate(d['DateTime_UTC']) });
//   flags.forEach(function(d){ d.date = parseDate(d['DateTime_UTC']) });
//   x.domain(d3.extent(data, function(d) { return d.date; }));
//   for (var i = 0; i < variables.length; ++i) {
//     vvv = variables[i];
//     y.domain(d3.extent(data, function(d) { return d[vvv]; }));
//     var line = d3.line()
//         .defined(function(d){return d[vvv];})
//         .x(function(d) { return x(d.date); })
//         .y(function(d) { return y(d[vvv]); });
//     var svg = d3.select("#graphs").append("svg")
//       .datum(data)
//         .attr("class",vvv)
//         .attr("width", width + margin.left + margin.right)
//         .attr("height", height + margin.top + margin.bottom)
//       .append("g")
//         .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
//       // .on('dblclick',redrawPoints);
//     svg.append("g")
//         .attr("class", "axis axis--x")
//         .attr("transform", "translate(0," + height + ")")
//         .call(xAxis)
//         .append("text")
//           .attr("fill", "#000")
//           .attr("dy", "3em")
//           .attr("dx", width)
//           .style("text-anchor", "end")
//           .text("DateTime (UTC)");
//     svg.append("g")
//         .attr("class", "axis axis--y")
//         .call(d3.axisLeft().scale(y).ticks(3))
//       .append("text")
//         .attr("fill", "#000")
//         .attr("dy", "-0.71em")
//         .attr("dx", "0.71em")
//         .style("text-anchor", "start")
//         .text(vvv);
//     svg.append("g")
//         .attr("class", "backgraph")
//     svg.append("path")
//         .attr("class", "line")
//         .attr("d", line);
//     dff = {} // flagged values
//     flags.forEach(function(e){
//       if(e.variable==vvv){ dff[e.DateTime_UTC]=e.variable } // only if it is the right variable
//     });
//     svg.selectAll(".vdot")
//         .data(data.filter(function(d) { return d[vvv]; }))
//       .enter().append("circle")
//         .attr("class", "vdot")
//         .attr("cx", line.x())
//         .attr("cy", line.y())
//         .attr("r", 2)
//       .classed("flagdot", function(d){
//         return vvv == dff[d.DateTime_UTC]
//       });
//   }
// }

// $(function(){
//   $("button[name=vizsite]").click(function(){
//     $('#loading').show();
//     var dat = {}
//     dat['site'] = [$('select[name=site]').val()];
//     $.ajax({
//       type: 'POST',
//       url:'/_getstats',
//       data: JSON.stringify(dat),
//       contentType: 'application/json;charset=UTF-8',
//       success: function(response){
//         $('#loading').hide();
//         $('#graphcontrol').hide();
//         $('#datepicker').daterangepicker({
//           locale: {format: 'YYYY-MM-DD', separator: ' to '},
//           startDate: response.initDate,
//           endDate: response.endDate,
//           minDate: response.startDate,
//           maxDate: response.endDate,
//           autoApply: true,
//           opens: 'left'
//         });
//         // $('.input-daterange').datepicker({
//         //     startDate: response.startDate,
//         //     endDate: response.endDate,
//         //     todayHighlight: true,
//         //     format: 'yyyy-mm-dd'
//         // });
//         // $('#startDate').val(response.initDate);
//         // $('#endDate').val(response.endDate);
//         $('#vizspecs input[name=site]').val(response.site);
//         $("#graphs").empty();
//         $("#viz_vars").empty();
//         $('#backgraphlist')
//             .find('option')
//             .remove()
//             .end()
//             .append('<option value="None" selected>None</option>');
//         for (var i = 0; i < response.variables.length; ++i) {
//             $('#viz_vars').append('<input type="checkbox" id="variables" value="'+response.variables[i]+'" checked> '+response.variables[i]+'<br>');
//             // add stuff to dropdown
//             $('#backgraphlist').append('<option value="'+response.variables[i]+'">'+response.variables[i]+'</option>');
//         }
//         $('#vizspecs').show();
//       },
//       error: function(error){
//         console.log(error);
//       }
//     });
//     return false;
//   })
// });

$(function(){
  $("button[name=getviz]").click(function(){
    // $('#loading').show();
    var dat = {}
    dat['site'] = $('select[name=site]').val();
    dat['startDate'] = $("#datepicker").data('daterangepicker').startDate.format('YYYY-MM-DD');//$('#startDate').datepicker().val();
    dat['endDate'] = $("#datepicker").data('daterangepicker').endDate.format('YYYY-MM-DD');//$('#endDate').datepicker().val();
    dat['variables'] = $('#variables:checked').map(function() { return this.value; }).get();
    // $('#vizspecs input[name=variables]').val( $('#variables:checked').map(function() { return this.value; }).get() );
    $.ajax({
      type: 'POST',
      url:'/_getviz',
      data: JSON.stringify(dat),
      contentType: 'application/json;charset=UTF-8',
      success: function(response){
        // $('#loading').hide();
        $("#graphs").empty();
        $('#graphcontrol').show();
        data = JSON.parse(response.dat);
        // window.data = JSON.parse(response.dat);
        variables = response.variables;
        sundat = JSON.parse(response.sunriseset);
        sundat.forEach(function(d){
          d.rise = parseDate(d.rise);
          d.set = parseDate(d.set);
        });
        flags = JSON.parse(response.flagdat);
        Plots(variables, data, flags, "viz");
        if($("#shownight").is(":checked")) { Sunlight(variables, sundat) };
        // BackGraph("WaterPres_kPa","WaterTemp_C",data)
      },
      error: function(error){
        console.log(error);
      }
    });
    return false;
  })
});

$(function(){
  $("select[name=backgraphlist_grab]").change(function(){

    //reset the other dropdown
    $('#backgraphlist').val('None'); //why doesn't this set off a feedback loop?

    if($(this).val() != 'None'){

      var grabdat = {}
      grabdat['regionsite'] = $('select[name=site]').val();
      grabdat['startDate'] = $("#datepicker").data('daterangepicker').startDate.format('YYYY-MM-DD');
      grabdat['endDate'] = $("#datepicker").data('daterangepicker').endDate.format('YYYY-MM-DD');
      grabdat['grabvars'] = [$(this).val()];

      $.ajax({
        type: 'POST',
        url:'/_getgrabviz',
        data: JSON.stringify(grabdat),
        contentType: 'application/json;charset=UTF-8',
        success: function(response){

          visdata = JSON.parse(response.grabdat);
          visdata.forEach(function(d){ d.date = parseDate(d['date']) });

          var variables = $('#variables:checked').map(function(){
            return this.value;
          }).get();

          for (var i = 0; i < variables.length; ++i) {
            BackGraph('value', variables[i], visdata);
          }

        },
        error: function(error){
          console.log(error);
        }
      });
    };

    return false
  });
});

// function Sunlight(variables, sundat){
//   for (var i = 0; i < variables.length; ++i) {
//     vvv = variables[i];
//     d3.select("."+vvv).selectAll('.sunriseset')
//         .data(sundat)
//       .enter().append('rect')
//         .attr('class', 'sunriseset')
//         .attr('x', function(d) { return x(d.set); })
//         .attr('y', 0)
//         .attr('width', function(d) { return x(d.rise) - x(d.set); })
//         .attr('height', height)
//         .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
//   }
// }
//
// $(function(){
//   $('#shownight').change(function() {
//     if($(this).is(":checked")) {
//       Sunlight(variables, sundat);
//     }else{
//       d3.select("#graphs").selectAll(".sunriseset").remove();
//     }
//   });
// })
//
// function BackGraph(vvv, graph, data){
//   var ynew = d3.scaleLinear().range([height, 0]);
//   svg = d3.select("."+graph).select(".backgraph")
//   svg.select("path").remove() // remove previous graph
//   ynew.domain(d3.extent(data, function(d) { return d[vvv]; }));
//   var area = d3.area()
//       .x(function(d) { return x(d.date); })
//       .y0(height)
//       .y1(function(d) { return ynew(d[vvv]); });
//   svg.append("path")
//       .datum(data)
//       .attr("class", "backarea")
//       .attr("d", area);
// }
//
// $(function(){
//   $("#backgraphlist").change(function () {
//     var backfill = this.value;
//     for (var i = 0; i < variables.length; ++i) {
//       BackGraph(backfill, variables[i], data);
//     }
//   });
// })

</script>

{% endblock %}
