{% extends "layout.html" %}
{% block body %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Visualize Input Data</h1>
    <br>
    <!-- <p class="lead">Use this interface to rapidly preview data and view provisional model estimates.<p> -->

    <form id="viz">
      <select placeholder="Choose a site" id="dsite" name="site">
        <option value="">Choose a site</option>
        {% for sv, sn, sd, ed, va in sites %}
          <option value="{{sv}}">{{sn}}</option>
        {% endfor %}
      </select>
      <br>
      <div class="col-md-6">
        <!-- <select placeholder="Choose a year" id="yearpicker" name="year">
          <option value="">Choose a year</option>
        </select> -->
        <span id="fullrange" style="color:gray"><span>
      </div>
      <div class="col-md-6">
        <input class="form-control" type="text" id="datepicker" name="daterange"
          value="" placeholder="Select date range">
      </div>
      <br><br><br><br>
      <p id="selectvarp" class="lead" style="display:none">
        Select variables (core metabolism variables bolded):
      </p>
      <div id="viz_vars">
      </div>
      <br>
      <button id="getviz" name="getviz" class="btn btn-primary btn-block"
      style="display:none">
        View
      </button>
      <br>
      <p class="text-muted">
        Note: if you suspect that you're seeing an old version of this app, delete
        cookies and clear your web cache.
        <a href="https://www.thewindowsclub.com/clear-cache-cookies-specific-website"
        target="_bank" rel="noopener noreferrer">
          Here's how
        </a>
        to do that for a specific website using Chrome or Firefox. Reload this
        page when you're done.
      </p>
      <hr>
    </form>
  </div>
</div>
<br>

<div id="graphcontrol" class="text-center">
  <div class="form-inline">
  <!-- Aggregation: <select class="form-control" id="timescale" name="timescale">
    <option value="15m" selected>15 minutes (default)</option>
    <option value="1h">1 hour</option>
    <option value="1d">1 day</option></select> &nbsp; -->
    <div style="display:inline-block; margin:1em">
      <p>
        Compare sensor variable:
      </p>
      <select class="form-control" id="backgraphlist" name="backgraphlist"
        style="width:200px">
      </select> &nbsp
    </div>
    <!-- <div style="display:inline-block; margin:1em">
      <p>
        Compare historic range (25-75%):
      </p>
      <select class="form-control" id="interquartile" name="interquartile"
        style="width:200px">
      </select>
    </div> -->
    <div style="display:inline-block; margin:1em">
      <p>
        Compare grab variable:
      </p>
      <select class="form-control" id="backgraphlist_grab" name="backgraphlist_grab"
        style="width:200px">
      </select>
    </div>
    <div style="display:inline-block; margin:1em">
      <p>
        Show local night-time:
      </p>
      <input type="checkbox" id="shownight" value="no"> &nbsp;
    </div>
  </div>
</div>


<!-- <div class="row">
  <div class="col-md-11"> -->
<div id="graphs"></div>
  <!-- </div>
  <div class="col-md-1">
    <div id="sidebuttons"></div>
  </div>
</div> -->

<script src="static/js/graphs.js"></script>

<script>
var avail_mods = {{ avail_mods|safe }}

$('#dsite').selectize({
    delimiter: ',',
    persist: false,
    create: function(input) {
        return {
            value: input,
            text: input
        }
    }
});

var sitedict = {}
{% for sv, sn, sd, ed, va in sites %}
  sitedict['{{sv}}'] = {dates:['{{sd}}','{{ed}}'], vars:"{{','.join(va)}}"}
{% endfor %}

$('#dsite').change(function(){
  //http://www.daterangepicker.com/
  $('#graphcontrol').hide();

  var siteinfo = sitedict[$('select[name=site]').val()];
  var sitedates = siteinfo['dates']

  //display the full available date range
  $("#fullrange").empty().append("Full available time range:<br>" +
    sitedates[0] + " to " + sitedates[1]);

  //used below: show most recent year unless there isn't a full year; then full range
  min_date = new Date(sitedates[0]);
  max_date = new Date(sitedates[1]);
  ms364 = 364 * 24 * 60 * 60 * 1000;

  $('#datepicker').daterangepicker({
    locale: {format: 'YYYY-MM-DD', separator: ' to '},
    startDate: max_date - ms364  >= min_date ? new Date(max_date - ms364) : min_date,
    endDate: sitedates[1],
    minDate: sitedates[0],
    maxDate: sitedates[1],
    autoApply: true,
    opens: 'left'
  });

  $('#start_date').text( '"'+$("#datepicker").data('daterangepicker').startDate.format('YYYY-MM-DD')+'"' );
  $('#end_date').text( '"'+$("#datepicker").data('daterangepicker').endDate.format('YYYY-MM-DD')+'"' );

  //order site variables by importance for metabolism modeling, then alphabetically
  var sitevars = siteinfo['vars'].split(",");
  var reference_vars = ['DO_mgL', 'satDO_mgL', 'DOsat_pct', 'WaterTemp_C',
    'Depth_m', 'Level_m', 'Discharge_m3s', 'Light_PAR', 'Light_lux'];

  var metabvars = [];
  for (var i = sitevars.length; i >= 0; --i) {
    if(reference_vars.includes(sitevars[i])){
      metabvars.push(sitevars.splice(i, 1)[0]);
    }
  }

  metabvars.sort(function(a, b) {
    return reference_vars.indexOf(a) - reference_vars.indexOf(b);
  });

  sitevars.sort(function(a, b) {
    return a.toLowerCase().localeCompare(b.toLowerCase());
  });

  sitevars = metabvars.concat(sitevars);

  $("#graphs").empty();
  $("#viz_vars").empty();
  // $("#selectvarp").css('display', '');
  $("#selectvarp").show();
  $("#getviz").show();
  $('#backgraphlist').find('option').remove().end() //could use .empty()?
    .append('<option value="None" selected>None</option>');
  // $('#interquartile').empty()
  //   .append('<option value="None" selected>None</option>');

  var battery_ind = sitevars.indexOf('Battery_V')
  var sitevars_nobat = sitevars.slice(0, battery_ind)
    .concat(sitevars.slice(battery_ind + 1, sitevars.length))

  for (var i = 0; i < sitevars.length; ++i) {

    if(reference_vars.includes(sitevars[i])){
      $('#viz_vars').append('<input type="checkbox" id="variables" value="' +
        sitevars[i] + '" checked><span style="font-weight:bold">' +
        sitevars[i] + '</span><br>');
    } else {
      $('#viz_vars').append('<input type="checkbox" id="variables" value="' +
        sitevars[i] + '"> ' + sitevars[i] + '<br>');
    }

    $('#backgraphlist').append('<option value="' + sitevars[i] + '">' +
      sitevars[i] + '</option>');
    // $('#interquartile').append('<option value="' + sitevars_nobat[i] + '">' +
    //   sitevars_nobat[i] + '</option>');
  }

  update_grabvars(regionsite=$('select[name=site]').val(),
    startdate=sitedates[0], enddate=sitedates[1])

});

function update_grabvars (regionsite, startdate, enddate) {

  $.ajax({
    type: 'POST',
    url:'/_getgrabvars',
    data: JSON.stringify([regionsite, startdate, enddate]),
    contentType: 'application/json;charset=UTF-8',
    success: function(response){
      sitevars_grab = response.variables;
      sitevarsunits_grab = response.varsandunits;

      //empty grabvar dropdown and replace the None option
      $('#backgraphlist_grab')
          .find('option').remove().end()
          .append('<option value="None" selected>None</option>');

      for (var i = 0; i < sitevars_grab.length; ++i) {
          // $('#viz_vars_grab').append('<input type="checkbox" id="variables_grab" value="' +
          //   sitevars_grab[i] + '" checked> ' + sitevars_grab[i] + '<br>');

          // add variables to grab dropdown
          $('#backgraphlist_grab').append('<option value="' + sitevars_grab[i] +
            '">' + sitevarsunits_grab[i] + '</option>');
      };

    },
    error: function(error){
      console.log(error);
    }
  });

  return false
};

$('#datepicker').on('apply.daterangepicker', function(ev, picker) {
  $('#start_date').text( '"'+picker.startDate.format('YYYY-MM-DD')+'"' );
  $('#end_date').text( '"'+picker.endDate.format('YYYY-MM-DD')+'"' );
});

$(function(){
  $("button[name=getviz]").click(function(){
    // $('#loading').show();
    var dat = {}
    dat['site'] = $('select[name=site]').val();
    dat['startDate'] = $("#datepicker").data('daterangepicker').startDate.format('YYYY-MM-DD');//$('#startDate').datepicker().val();
    dat['endDate'] = $("#datepicker").data('daterangepicker').endDate.format('YYYY-MM-DD');//$('#endDate').datepicker().val();
    dat['variables'] = $('#variables:checked').map(function() { return this.value; }).get();
    // $('#vizspecs input[name=variables]').val( $('#variables:checked').map(function() { return this.value; }).get() );
    $.ajax({
      type: 'POST',
      url:'/_getviz',
      data: JSON.stringify(dat),
      contentType: 'application/json;charset=UTF-8',
      success: function(response){
        // $('#loading').hide();
        $("#graphs").empty();
        $('#graphcontrol').show();
        data = JSON.parse(response.dat);
        // window.data = JSON.parse(response.dat);
        variables = response.variables;
        sundat = JSON.parse(response.sunriseset);
        sundat.forEach(function(d){
          d.rise = parseDate(d.rise);
          d.set = parseDate(d.set);
        });
        flags = JSON.parse(response.flagdat);
        Plots(variables, data, flags, "viz");
        if($("#shownight").is(":checked")) { Sunlight(variables, sundat) };
        // BackGraph("WaterPres_kPa","WaterTemp_C",data)
      },
      error: function(error){
        console.log(error);
      }
    });
    return false;
  })
});

$(function(){
  $("select[name=backgraphlist_grab]").change(function(){

    //reset the other dropdowns, clear existing secondary axes
    $('#backgraphlist').val('None'); //why doesn't this set off a feedback loop?
    // $('#interquartile').val('None');
    d3.selectAll('[id$=rightaxis]').attr("display", "none");

    // if($(this).val() != 'None'){

    var grabdat = {}
    grabdat['regionsite'] = $('select[name=site]').val();
    grabdat['startDate'] = $("#datepicker").data('daterangepicker').startDate.format('YYYY-MM-DD');
    grabdat['endDate'] = $("#datepicker").data('daterangepicker').endDate.format('YYYY-MM-DD');
    grabdat['grabvars'] = [$(this).val()];

    d3.selectAll('[id$=rightaxis]').attr("display", "none");

    $.ajax({
      type: 'POST',
      url:'/_getgrabviz',
      data: JSON.stringify(grabdat),
      contentType: 'application/json;charset=UTF-8',
      success: function(response){

        visdata = response.grabdat;
        graphvar = response.var;
        if(typeof visdata !== 'string' || visdata !== 'None'){
          visdata = JSON.parse(visdata);
          visdata.forEach(function(d){ d.date = parseDate(d['date']) });
        } else {
          d3.selectAll("[id$=rightaxis]")
            .attr('display', 'none');
        }

        var variables = $('#variables:checked').map(function(){
          return this.value;
        }).get();

        for (var i = 0; i < variables.length; ++i) {
          BackGraph(graphvar, variables[i], visdata, type='point');
        }

      },
      error: function(error){
        console.log(error);
      }
    });
    // };

    return false
  });
});

$('body').ready(function(){
  $('body').on("click", "[id^='interq']", function(){

    //reset the dropdowns
    // $('#backgraphlist').val('None');
    // $('#backgraphlist_grab').val('None');

    //determine variable and site for which to retrieve entire data record
    var dat = {}
    var current_plot = $(this).attr('name').slice(1)
    var slice = $(this).attr('id').slice(0, 8)
    if(slice == 'interqDO'){
      dat['variable'] = 'DO_mgL'
      var requested_v = 'DO'
    } else if(slice == 'interqQ_'){
      dat['variable'] = 'Discharge_m3s'
      var requested_v = 'Q'
    } else if(slice == 'interqER'){
      dat['variable'] = 'ER'
      var requested_v = 'ER'
    } else if(slice == 'interqGP'){
      dat['variable'] = 'GPP'
      var requested_v = 'GPP'
    } else {
      dat['variable'] = current_plot
      var requested_v = 'H'
    }
    dat['site'] = $('#dsite').val()

    d3.select('#' + current_plot + 'rightaxis').attr("display", "");

    $.ajax({
      type: 'POST',
      url:'/_interquartile',
      data: JSON.stringify(dat),
      contentType: 'application/json;charset=UTF-8',
      success: function(response){

        //duplicate hourly aggregated values as necessary to reconstitute
        //the full time range of already plotted series
        ranges = JSON.parse(response.dat);
        console.log(ranges)
        mindate = x.domain()[0];
        minabb = mindate.toISOString().slice(5, 11);
        // minabb = mindate.toISOString().slice(5, 13);
        maxdate = x.domain()[1];
        maxabb = maxdate.toISOString().slice(5, 11);
        st_yr = mindate.getFullYear();
        en_yr = maxdate.getFullYear();
        yrs = [];
        for(var i = st_yr; i <= en_yr; i++){ yrs.push(i); }
        dates = ranges.map(x => x[0]);

        nyrs = yrs.length;
        a1 = dates.indexOf(minabb);
        a2 = nyrs > 1 ? dates.length : dates.indexOf(maxabb);
        rangesA = ranges.slice(a1, a2).map(x =>
          [st_yr + '-' + x[0] + '00:00:00.00Z', x[1], x[2]]);
          // [st_yr + '-' + x[0] + ':00:00.00Z', x[1], x[2]]);
        if(nyrs > 1){
          b1 = dates.slice(0, 1);
          b2 = dates.indexOf(maxabb);
          rangesB = ranges.slice(b1, b2).map(x =>
            [en_yr + '-' + x[0] + '00:00:00.00Z', x[1], x[2]]);
          if(nyrs === 2){
            rangesA = rangesA.concat(rangesB);
          }
          if(nyrs >= 3){
            for(var i = 1; i < nyrs; i++){
              rangesA = rangesA.slice(b1, b2).map(x =>
                [yrs[i] + '-' + x[0] + '00:00:00.00Z', x[1], x[2]]);
            }
            rangesA = rangesA.concat(rangesB);
          }
        }
        rangesA = rangesA.map(x => [parseDate(x[0]), x[1], x[2]]);

        Interquartile(current_plot, rangesA, req=requested_v);
      },
      error: function(error){
        console.log(error);
      }
    });

  });
});

</script>

{% endblock %}
