{% extends "layout.html" %}

{% block body %}

<!-- <p class="text-center"><a class="btn btn-lg btn-primary" href="https://docs.google.com/document/d/1D0DcSsNAPx_kfFECg23AEwNw5LTtx2_Fev-jKCXfk6Q/edit?usp=sharing">Before modeling stream metabolism...</a></p> -->

<div class="container">
  <div class='row' style='margin-top: 100px'></div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <p class='lead'>What do you want to visualize?</p>
      <br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <input type='button' class="btn btn-warning btn-lg btn-block"
      value='Input data series' onclick="location.href = 'visualize';">
      <input type='button' class="btn btn-info btn-lg btn-block"
      value='Model diagnostics' onclick="location.href = 'http://data.streampulse.org:3838/streampulse_diagnostic_plots/model_viz/';">
      <input type='button' class="btn btn-success btn-lg btn-block"
      value='Compiled model results' onclick="location.href = 'http://data.streampulse.org:3838/streampulse_diagnostic_plots/summary_viz/';">
    </div>
  </div>
</div>

{% endblock %}
